{% extends 'baseadmin.html.twig' %}

{% block title %}Subscribers{% endblock %}

{% block body %}

<div class="container-fluid p-4">
    <div class="row">
      <!-- Page Header -->
      <div class="col-lg-12 col-md-12 col-12">
        <div class="border-bottom pb-4 mb-4 d-lg-flex align-items-center justify-content-between">
          <div class="mb-2 mb-lg-0">
            <h1 class="mb-1 h2 font-weight-bold">All Subscribers</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="admin-dashboard.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="#!">Subscribers</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    All Subscribers
                </li>
              </ol>
            </nav>
          </div>
          <div>
        
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Card -->
        <div class="card rounded-lg">
          <!-- Card Header -->
          <div class="card-header border-bottom-0 p-0">
            <ul class="nav nav-lb-tab" id="tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="all-post-tab" data-toggle="pill" href="#all-post" role="tab"
                  aria-controls="all-post" aria-selected="true">All</a>
              </li>
           
            </ul>
          </div>
          <div class="card-header border-bottom-0">
            <!-- Form -->
            <form class="d-flex align-items-center">
               <span class="position-absolute pl-3 search-icon">
                <i class="fe fe-search"></i>
              </span>
              <input type="search" id="myInput" class="form-control pl-6" placeholder="Search Subscriber" />
             
            </form>
          </div>
          <div>
            <div class="tab-content" id="tabContent">
              <!-- Tab -->
              <div class="tab-pane fade show active" id="all-post" role="tabpanel" aria-labelledby="all-post-tab">
                <div class="table-responsive border-0">
                  <!-- Table -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
              <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script> 
                  <table class="table mb-0 text-nowrap">
                    <!-- Table Head -->
                    <thead>
                      <tr>
                        <th scope="col" class="border-0">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkAll" />
                            <label class="custom-control-label" for="checkAll"></label>
                          </div>
                        </th>
                        <th scope="col" class="border-0">SUB-REFERENCE</th>
                        <th scope="col" class="border-0">Client</th>
                       
                        <th scope="col" class="border-0">PAIEMENT METHOD</th>
                        <th scope="col" class="border-0">DATE PAIED</th>
                        <th scope="col" class="border-0">DUE DATE</th>
                        <th scope="col" class="border-0">TYPE</th>
                        <th scope="col" class="border-0">STATUS</th>
                    
                      </tr>
                    </thead>
                    <tbody id="myTable">
                     {% for sub in Subscriptions %}
                      <!-- Table body -->
                      <tr>
                        <td class="align-middle border-top-0">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="postOne" />
                            <label class="custom-control-label" for="postOne"></label>
                          </div>
                        </td>
                        <td class="align-middle border-top-0">
                          <h5 class="mb-0">
                            <a href="{{ path('clientDetails' , {'id' : sub.getUser().getId()  }) }}" class="text-inherit">
                              {{ sub.id }}
                            </a>
                          </h5>
                        </td>
                        <td class="align-middle border-top-0">
                          <a href="#" class="text-inherit">
                          {{ sub.getUser().Name }}</a>
                        </td>
                      
                        <td class="align-middle border-top-0">
                          {{ sub.paiementType }}
                        </td>
                        <td class="align-middle border-top-0">
                          {{ sub.dateSub|date('d-m-Y') }}
                        </td>
                        <td class="align-middle border-top-0">
                          {{ sub.dateExpire|date('d-m-Y') }}
                          </td>
                          <td class="align-middle border-top-0">
                            {% if sub.type == 1 %}
                              <h5 class="mb-0">
                                1 Month
                              </h5>
                            {% endif %}
                            {% if sub.type ==2 %}
                              <h5 class="mb-0">
                                3 Months
                              </h5>
                            {% endif %}
                            {% if sub.type == 3 %}
                              <h5 class="mb-0">
                                6 Months
                              </h5>
                            {% endif %}
                          </td>
                        <td class="align-middle border-top-0">
                          {% if sub.state == "Confirmed" %}
                          <span class="badge-dot bg-success mr-1 d-inline-block align-middle"></span>Confirmed
                          {% elseif  sub.state == "Cancel" %}
                          <span class="badge-dot bg-danger mr-1 d-inline-block align-middle"></span>Canceled
                            {%else%}
                            <span class="badge-dot bg-warning mr-1 d-inline-block align-middle"></span>Suspended
                              {% endif %}
                        
                        </td>
                 
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              
            </div>
          </div>
          <!-- Card Footer -->
          <div class="card-footer">
            {{    knp_pagination_render(Subscriptions, '/order/paginator.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
