{% extends 'base.html.twig' %}
{% block body %}
     <div id="main">
           <!-- Post -->
	 <section class="post">
		<header class="major">
		  <span class="date">April 25, 2017</span>
			 <h1>Entrez votre<br />
				nouveau mot de passe</h1>
			  </header>
			    {{ form_start(form , {'attr':{class: 'row' , novalidate: 'novalidate'}} ) }}
                        
                               <div class="form-group col-12 col-md-12 col-lg-6">
                        {{ form_label(form.Password,"Password" )}}
        
            {{ form_widget(form.Password , {'attr' : {'class' : 'form-control' , 'placeholder':'Password'}})}}
      
                              </div>
                              <div class="form-group col-12 col-md-12 col-lg-6">
                 {{ form_label(form.confirm_password,"Confirm Password" )}}
       
            {{ form_widget(form.confirm_password , {'attr' : {'class' : 'form-control' , 'placeholder':'Password'}})}}
       
                              </div>
                           
                              <div class="col-12 col-md-12 col-lg-6">
                                {{ form_widget(form.save , {'attr' : {'class' : 'btn btn-primary' }})}}
                                 <a href="{{path('listeClient')}}" class="btn btn-outline-white">
                                 Cancel
                                 </a>
                              </div>
                              {{ form_end(form)}}
    </section> 
</div>
{% endblock %}
