{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}


<!-- Page content -->
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters min-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <!-- Card -->
            <div class="card shadow">
                <!-- Card body -->
                <div class="card-body p-6">
                    <div class="mb-4">
                        <a href="../index.html"><img src="../assets/images/brand/logo/logo-icon.svg" class="mb-4" alt="" /></a>
                        <h1 class="mb-1 font-weight-bold">Sign up</h1>
                        <span>Already have an account?
                            <a href="sign-in.html" class="ml-1">Sign in</a></span>
                    </div>
                    <!-- Form -->
                    {{ form_start(form , {'attr':{novalidate: 'novalidate'}} ) }}
                    
                            <!-- CIN -->
                        <div class="form-group">
                            <label for="CIN" class="form-label">CIN</label>
                     
                            {{ form_widget(form.CIN , {'attr' : {'class' : 'form-control' , 'placeholder':'CIN'}})}}
                        </div>
                               <!-- Username -->
                        <div class="form-group">
                            <label for="Name" class="form-label">Name</label>
                     
                            {{ form_widget(form.Name , {'attr' : {'class' : 'form-control' , 'placeholder':'Name'}})}}
                        </div>
                             <!-- CIN -->
                        <div class="form-group">
                            <label for="image" class="form-label">image</label>
                     
                           {{ form_row(form.image, {'attr':{'placeholder': 'Your photo '}}) }}
                        </div>
                            <!-- Adresse -->
                        <div class="form-group">
                            <label for="Adresse" class="form-label">Adresse</label>
                     
                            {{ form_widget(form.Adresse , {'attr' : {'class' : 'form-control' , 'placeholder':'Adresse'}})}}
                        </div>
                            <!-- Age -->
                        <div class="form-group">
                            <label for="Age" class="form-label">Age</label>
                     
                            {{ form_widget(form.Age , {'attr' : {'class' : 'form-control' , 'placeholder':'Age'}})}}
                        </div>
                              <!-- NumeroTel -->
                        <div class="form-group">
                            <label for="Numero" class="form-label">NumeroTel</label>
                     
                            {{ form_widget(form.Numero , {'attr' : {'class' : 'form-control' , 'placeholder':'Numero'}})}}
                        </div>
                            <!-- Email -->
                        <div class="form-group">
                            <label for="Email" class="form-label">Email</label>
                            {{ form_widget(form.Email , {'attr' : {'class' : 'form-control', 'placeholder':'xxxxxx@xxx.xx'}})}}
                        </div>
                            <!-- Password -->
                        <div class="form-group">
                            <label for="Password" class="form-label">Password</label>
                            {{ form_widget(form.Password , {'attr' : {'class' : 'form-control', 'placeholder':'Password'}})}}
                        </div>
                        <!-- confirme Password -->
                        <div class="form-group">
                            <label for="confirm_password" class="form-label">Confirm Password</label>
                            {{ form_widget(form.confirm_password, {'attr' : {'class' : 'form-control','placeholder':'Password'}})}}
                        </div>
                            <!-- Checkbox -->
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="agreeCheck" />
                                <label class="custom-control-label" for="agreeCheck"><span>I agree to the <a href="#!">Terms of
                                            Service </a>and
                                        <a href="#!">Privacy Policy.</a></span></label>
                            </div>
                        </div>
                        <div>
                                <!-- Button -->
                            
                            {{ form_widget(form.save , {'attr' : {'class' : 'btn btn-primary btn-block' , 'value':'Create Free Account'}})}}
                        </div>
                        <hr class="my-4" />
                        <div class="mt-4 text-center">
                            <!--Facebook-->
                            <a href="#!" class="btn-social btn-social-outline btn-facebook">
                                <i class="fab fa-facebook"></i>
                            </a>
                            <!--Twitter-->
                            <a href="#!" class="btn-social btn-social-outline btn-twitter">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <!--LinkedIn-->
                            <a href="#!" class="btn-social btn-social-outline btn-linkedin">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <!--GitHub-->
                            <a href="#!" class="btn-social btn-social-outline btn-github">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                   {{ form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
