{% extends 'baseadmin.html.twig' %}


{% block body %}

<div class="container-fluid p-4">
    <div class="row">
      <!-- Page Header -->
      <div class="col-lg-12 col-md-12 col-12">
        <div class="border-bottom pb-4 mb-4 d-lg-flex align-items-center justify-content-between">
          <div class="mb-2 mb-lg-0">
            <h1 class="mb-1 h2 font-weight-bold">All Produit</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ path('admindash') }}">Dashboard</a>
                </li>
                
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ path('produitListe') }}">Produit</a>
                </li>
              </ol>
            </nav>
          </div>
          <div>
            <a href="admin-cms-post-new.html" class="btn btn-primary" data-toggle="modal" data-target="#newProduit">New Produit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Card -->
        <div class="card rounded-lg">
          <!-- Card Header -->
          <div class="card-header border-bottom-0 p-0">
            <ul class="nav nav-lb-tab" id="tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="all-post-tab" data-toggle="pill" href="#all-post" role="tab"
                  aria-controls="all-post" aria-selected="true">All</a>
              </li>
           
            </ul>
          </div>
          <div class="p-4 row">
            <!-- Form -->
            <form class="d-flex align-items-center col-12 col-md-8 col-lg-3">
               <span class="position-absolute pl-3 search-icon">
                <i class="fe fe-search"></i>
              </span>
              <input type="search" class="form-control pl-6" placeholder="Search Produit" />
            </form>
          </div>
          <div>
            <div class="tab-content" id="tabContent">
              <!-- Tab -->
              <div class="tab-pane fade show active" id="all-post" role="tabpanel" aria-labelledby="all-post-tab">
                <div class="table-responsive border-0">
                  <!-- Table -->
                  <table class="table mb-0 text-nowrap">
                    <!-- Table Head -->
                    <thead>
                      <tr>
                        <th scope="col" class="border-0">ID</th>
                        <th scope="col" class="border-0">category</th>
                        <th scope="col" class="border-0">Name</th>
                        <th scope="col" class="border-0">Description</th>
                        <th scope="col" class="border-0">Buy Price</th>
                        <th scope="col" class="border-0">Sell Price</th>
                        <th scope="col" class="border-0">Quantity</th>
                        <th scope="col" class="border-0">Image</th>
                        <th scope="col" class="border-0">Action</th>
                      </tr>
                    </thead>
                        {% for p in  produitt %}
                    <tbody>
                      <!-- Table body -->
                
                      <tr>
                   
                        <td class="align-middle border-top-0">
                          <h5 class="mb-0">
                            <a href="#!" class="text-inherit">
                           {{ p.id }}
                            </a>
                          </h5>
                        </td>
                        <td class="align-middle border-top-0">                      
                            <h5 class="mb-0">{{ p.category }}</h5>
                        </td>
                          <td class="align-middle border-top-0">                      
                            <h5 class="mb-0">{{ p.name }}</h5>
                        </td>
                          <td class="align-middle border-top-0">                      
                            <h5 class="mb-0">{{ p.description }}</h5>
                        </td>
                          <td class="align-middle border-top-0">                      
                            <h5 class="mb-0">{{ p.buyprice }}</h5>
                        </td>
                          <td class="align-middle border-top-0">                      
                            <h5 class="mb-0">{{ p.sellprice }}</h5>
                        </td>
                          <td class="align-middle border-top-0">                      
                            <h5 class="mb-0">{{ p.quantity }}</h5>
                        </td>
                          <td class="align-middle border-top-0">                      
                            <img src="/uploads/{{ p.image }}"  alt=""
                              class="rounded-circle avatar-xs mr-2" />
                        </td>
                        <td class="text-muted align-middle border-top-0">
                     
                         <a class="btn btn-white" href="{{ path('UpdateProduitDashboard',{'id':p.id}) }}" ><i class="fe fe-edit dropdown-item-icon"></i>Update</a>
                          <a class="btn btn-white" data-toggle="modal" data-target="#DeleteProduit{{p.id}}"><i class="fe fe-trash dropdown-item-icon "></i>Delete</a>
                        
                        </td>
                       <div class="modal fade" id="DeleteProduit{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteProduitLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title mb-0" id="DeleteProduitLabel">
                                            Delete Produit  ? 
                                          </h4>
                                          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                <div class="form-group mb-2">
                                              <label class="form-label" for="title">are you sure do you want to delete Produit? <span class="text-danger">*</span></label>


                                            </div>


                                            <div>

                             
                                             <a class="btn btn-danger btn-sm" href="{{ path('deleteProduit',{'id':p.id}) }}">DELETE</a>
                                              <button type="button" class="btn btn-outline-white btn-sm" data-dismiss="modal">
                                                Close
                                              </button>
                                            </div>

                                        </div>
                                      </div>
                                    </div>
                                    </div>
                      </tr>
                  
                    </tbody>
                      {% endfor %}
                  </table>
                </div>
              </div>
              
            </div>
          </div>
          <!-- Card Footer -->
          <div class="card-footer">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center mb-0">
                <li class="page-item disabled">
                  <a class="page-link mx-1 rounded" href="#!" tabindex="-1" aria-disabled="true"><i
                      class="mdi mdi-chevron-left"></i></a>
                </li>
                <li class="page-item active">
                  <a class="page-link mx-1 rounded" href="#!">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link mx-1 rounded" href="#!">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link mx-1 rounded" href="#!">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link mx-1 rounded" href="#!"><i class="mdi mdi-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="modal fade" id="newProduit" tabindex="-1" role="dialog" aria-labelledby="newProduitLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title mb-0" id="newProduitLabel">
          Add New Produit
        </h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
      </button>
      </div>
      <div class="modal-body">
        {{ form_start(form , {'attr':{novalidate: 'novalidate'}} ) }}
        
      <div class="form-group mb-2">
            <label class="form-label" for="title">category<span class="text-danger">*</span></label>
             {{ form_widget(form.category , {'attr' : {'class' : 'form-control' }})}}
          </div>
          <div class="form-group mb-2">
            <label class="form-label" for="title">Name <span class="text-danger">*</span></label>
            {{ form_widget(form.name , {'attr' : {'class' : 'form-control' }})}}
            <small>Field must contain a unique value</small>
          </div>
          <div class="form-group mb-2">
            <label class="form-label" for="title">Description<span class="text-danger">*</span></label><br>
            {{ form_widget(form.description , {'attr' : {'class' : 'form-control' }})}}

          </div>
          <div class="form-group mb-2">
            <label class="form-label" for="title">Buy Price<span class="text-danger">*</span></label><br>
            {{ form_widget(form.buyprice , {'attr' : {'class' : 'form-control' }})}}

          </div>
          <div class="form-group mb-2">
            <label class="form-label" for="title">Sell Price<span class="text-danger">*</span></label><br>
            {{ form_widget(form.sellprice , {'attr' : {'class' : 'form-control' }})}}

          </div>
           <div class="form-group mb-2">
            <label class="form-label" for="title">Quantity<span class="text-danger">*</span></label><br>
            {{ form_widget(form.quantity , {'attr' : {'class' : 'form-control' }})}}

          </div>
         <div class="form-group">
                            <label for="image" class="form-label">image</label>
                          
                           {{ form_row(form.image, {'attr':{'placeholder': 'Your photo ' , id : 'customFile1'}}) }}
                           
                        </div>
        
          <div>

            {{ form_widget(form.save , {'attr' : {'class' : 'btn btn-primary' }})}}
         
            <button type="button" class="btn btn-outline-white" data-dismiss="modal">
              Close
            </button>
          </div>
          {{ form_end(form)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}