{% extends 'baseadmin.html.twig' %}

{% block title %}Votre panier{% endblock %}

{% block body %}
    <section class="bg-light p-3">
        <h1>Votre panier</h1>
    </section>

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead> 
        <tbody>
            {% for element in dataPanier %}
                <tr>
                    <td> <div class="d-lg-flex align-items-center">
                            <div>
                              <img src="/uploads/{{ element.produit.image }}" alt="" class="img-4by3-lg rounded" />
                            </div>
                            <div class="ml-lg-3 mt-2 mt-lg-0">
                              <h4 class="mb-1 text-primary-hover">
                                {{ element.produit.name }} # {{element.produit.id }}
                              </h4>
                            </div>
                          </div>
                    </td>
                    <td class="text-end">{{ element.produit.sellprice }} €</td>
                    <td>{{ element.quantite }}</td>
                    <td class="text-end">{{ element.quantite * element.produit.sellprice }} €</td>
                    <td>
                        <a href="{{path("cart_add", {id: element.produit.id})}}" class="btn btn-success">
         +
                        </a>
                        <a href="{{path("cart_remove", {id: element.produit.id})}}" class="btn btn-warning">
                          -
                        </a>
                        <a href="{{path("cart_delete", {id: element.produit.id})}}" class="btn btn-danger">
                            delete
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" class="text-center">Votre panier est vide</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total</td>
                <td class="text-end">{{ total }} €</td>
                <td>
                    <a href="{{path("cart_delete_all")}}" class="btn btn-danger">
                        <i class="fe fe-trash dropdown-item-icon "></i>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
    
{% endblock %}