<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

	

		<!-- Favicon -->
		<link rel="icon" href="./images/favicon.png" type="image/x-icon" />

		<!-- Invoice styling -->
		<link rel="stylesheet" type="text/css" href="{{asset('invoiceStyle.css')}}">
		<link rel="stylesheet" type="text/css" href="{{asset('invoiceStyle.css')}}" media="print">
	
	</head>

	<body>
		<h1>FIT-HEALTH INVOICE</h1>
		<h3> ID INVOICE </h3>
		<br /><br />
		
		
		<br /><br />

		<div class="invoice-box">
			<table>
				<tr class="top">
					<td colspan="4">
						<table>
							<tr>
								<td class="title">
									<img src="{{asset('assets/images/brand/logo/pilogo.png')}}"   style="width: 100%; max-width: 300px" />
								</td>
								
								<td>
									Invoice #:<strong>{{ordenance.getId()}}</strong><br />
									Created:{{ordenance.getDateordenance()|date('d-m-Y')}}<br />
									
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr class="information">
					<td colspan="4">
						<table>iZ
							<tr>
								<td>
									
                                    {{ordenance.getAmount()}}.<br />
                                    {{ordenance.getOrdennanceLignes()}}.<br />
									
								</td>
								
								<td>
									
									
								</td>
							</tr>
						</table>
					</td>
				</tr>


				<tr class="heading">
					<td>Item</td>
					<td>quantite</td>
					<td class="check">Prix</td>
				</tr>
				{% for OrdennanceLigne in ordenance.getOrdennanceLigne() %}
				<tr class="item">
					<td class="righitha">{{ ordennanceligne.getMedicament().getName() }}</td>
					<td>{{ ordennanceLigne.quantite }}</td>
					<td class="check">{{ ordenanceligne.getMedicament().getprix() }}<sup>DT</sup></td>
				</tr>
				{% endfor %}

			


				<tr class="total">
					<td></td>
					<td></td>
					<td class="check">Total: {{ ordenance.amount }} <sup> DT</sup></td>
				</tr>
			</table>
		
		</div>

		<a  onClick="imprimer()" id="btn"  role="button">click here to print this invoice  </a>
	</body>
	<script>
	function imprimer() {
	 document.getElementById('btn').hidden =true ; 
	 window.print();     
	 
	 }
  </script>
</html>