{% extends 'navbar.html.twig' %}


{% block body %}<!-- Page Content -->
<div class="pt-5 pb-5">
    <div class="container">
        <!-- User info -->
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top" style="
                            background: url({{asset('assets/images/background/profile-bg.jpg')}}) no-repeat;
                            background-size: cover;
                        "></div>
                     <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="/uploads/{{ app.user.image }}" class="avatar-xl rounded-circle border-width-4 border-white"
                                alt="" />
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0">
                                {{ user.name }}
                                <a href="#!" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Beginner">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                    </svg>
                                </a>
                            </h2>
                            <p class="mb-0 d-block">{{ user.email }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

<!-- Content -->

        <div class="row mt-4">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                        <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                        <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                        <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="sidenav">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header">Health</span>
                            <ul class="list-unstyled ml-n2 mb-4">
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('listeRendezVousForDoctor') }}"><i class="fe fe-calendar nav-icon"></i>Rendez vous
                                    </a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('ListeClientByDoctor') }}"><i class="fe fe-credit-card nav-icon"></i>Client list</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item active" >
                                    <a class="nav-link" href="{{ path('ListeDisponibility') }}"><i class="fe fe-credit-card nav-icon"></i>Disponibility</a>
                                </li>
                                    <!-- Nav item -->
                          
                            
                            </ul>
                                <!-- Navbar header -->
                            <span class="navbar-header">Account Settings</span>
                            <ul class="list-unstyled ml-n2 mb-0">
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('UpdateDoctorData',{'id':app.user.id}) }}"><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="security.html"><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="delete-profile.html"><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="../index.html"><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card mb-2">
                    <!-- Card header -->
                    <div class="card-header border-bottom-0">
                        
                        <h3 class="mb-0">Disponibility Liste</h3>
                        <div class="row">
                        <div class="form-group col-12 col-md-9">
                        {% if data is not empty %}
                        <div class="alert alert-danger"><strong>{{ data }} <a href="#"  data-toggle="modal" data-target="#newCatgory"> ici </a></strong></div>
                        {% else %}
                        <span> Disponibility liste Dashboard is a quick overview of all current
                            Disponibility liste to be in Duty.</span>
                         {% endif %}
                        </div>
                        <div class="form-group col-12 col-md-3">
                            <a href="#" class="btn btn-primary btn-sm"  data-toggle="modal" data-target="#newCatgory"> Add Disponibility</a>
                        </div>
                    </div>
                    </div>
                   
                    <!-- Table -->
                    <div class="table-responsive border-0">
                        <table class="table mb-0 text-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0">ID</th>
                                    <th scope="col" class="border-0">Date Disponibility</th>
                                    <th scope="col" class="border-0">Start From</th>
                                    <th scope="col" class="border-0">End From</th>
                                    <th scope="col" class="border-0">ACtion</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                {% for dispo in user.getDisponibilities() %}
                                <tr>
                                    <td class="align-middle border-top-0">
                                        <h5 class="mb-0">
                                            <a href="#!" class="text-inherit" >
                                             # {{ dispo.id }}
                                            </a>
                                        </h5>
                                    </td>
                                    <td class="align-middle border-top-0">{{ dispo.dateDispo |date('d-m-Y') }}</td>
                                    <td class="align-middle border-top-0">{{ dispo.heureStart|date('H:i') }}</td>
                                    <td class="align-middle border-top-0">{{ dispo.heureEnd  |date('H:i') }}</td>
                                    <td class="align-middle border-top-0">
                                        <a class="btn btn-success btn-sm" href="{{ path('UpdateDisponibility', {'id' : dispo.id  }) }}">edit</a>
                                        <a class="btn btn-danger btn-sm"   data-toggle="modal" data-target="#DeleteDISPO{{ dispo.id }}" >remove</a>
                                    </td>
                                    <div class="modal fade" id="DeleteDISPO{{ dispo.id }}" tabindex="-1" role="dialog" aria-labelledby="DeleteDISPOLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title mb-0" id="DeleteDISPOLabel">
                                            Delete Disponibility Slote ? 
                                          </h4>
                                          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                         
                                           
                                            <div class="form-group mb-2">
                                              <label class="form-label" for="title">are you sure do you want to delete Disponibility Slot? <span class="text-danger">*</span></label>
                                              
                                           
                                            </div>
                                       
                                          
                                            <div>
                                    
                                                
                                             <a class="btn btn-danger btn-sm" href="{{ path('DeleteDisponibility', {'id' : dispo.id  }) }}">DELETE</a>
                                              <button type="button" class="btn btn-outline-white btn-sm" data-dismiss="modal">
                                                Close
                                              </button>
                                            </div>
                                         
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                </tr>
                              
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newCatgory" tabindex="-1" role="dialog" aria-labelledby="newCatgoryLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title mb-0" id="newCatgoryLabel">
         Add New Disponibility Slot for {{ user.name }}
      </h4>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
    </button>
    </div>
    <div class="modal-body">
      {{ form_start(form , {'attr':{novalidate: 'novalidate'}} ) }}
       
      <div class="form-group mb-2">
        <label class="form-label" for="title">Date Sub<span class="text-danger">*</span></label>
       
        {%  if data is  empty %} 
        {{ form_widget(form.dateDispo , {'attr' : {'class' : 'form-control flatpickr flatpickr-input active  ', 'placeholder':'DateToday'}})}}
        <small>Field must contain a unique value</small>
        {% elseif form_errors(form.dateDispo ) %} 
        {{ form_widget(form.dateDispo , {'attr' : {'class' : 'form-control flatpickr flatpickr-input active is-invalid' , 'placeholder':'DateToday'}})}}
        {% else %}
        {{ form_widget(form.dateDispo , {'attr' : {'class' : 'form-control flatpickr flatpickr-input active is-valid' , 'placeholder':'DateToday'}})}}
        {% endif %}
        <small>  {{ form_errors(form.dateDispo )}} </small>
      
        <small>Field must contain a unique value</small>
      </div>
      <div class="form-group mb-2">
        <label class="form-label" for="title">HeureStart<span class="text-danger">*</span></label><br>
        {%  if data is  empty %} 
        {{ form_widget(form.heureStart , {'attr' : {'class' : 'form-control selectpicker ', 'placeholder':'DateToday'}})}}
        <small>Field must contain a unique value</small>
        {% elseif form_errors(form.heureStart ) %} 
        {{ form_widget(form.heureStart , {'attr' : {'class' : 'form-control selectpicker is-invalid' , 'placeholder':'DateToday'}})}}
        {% else %}
        {{ form_widget(form.heureStart , {'attr' : {'class' : 'form-control selectpicker is-valid' , 'placeholder':'DateToday'}})}}
        {% endif %}
        <small>  {{ form_errors(form.heureStart )}} </small>
     

      </div>
      <div class="form-group mb-2">
        <label class="form-label" for="title">HeureEnd<span class="text-danger">*</span></label><br>
        {%  if data is  empty %} 
        {{ form_widget(form.heureEnd , {'attr' : {'class' : 'form-control ', 'placeholder':'heureEnd'}})}}
        <small>Field must contain a unique value</small>
        {% elseif form_errors(form.heureEnd ) %} 
        {{ form_widget(form.heureEnd , {'attr' : {'class' : 'form-control   is-invalid' , 'placeholder':'heureEnd'}})}}
        {% else %}
        {{ form_widget(form.heureEnd , {'attr' : {'class' : 'form-control  is-valid' , 'placeholder':'heureEnd'}})}}
        {% endif %}
        <small>  {{ form_errors(form.heureEnd )}} </small>
     
    

      </div>
      <div class="form-group mb-2">
        <label class="form-label" for="title">Note<span class="text-danger">*</span></label><br>
        {{ form_widget(form.Note , {'attr' : {'class' : 'form-control' , 'placeholder':'Note'}})}}

      </div>
      
        <div>

          {{ form_widget(form.save , {'attr' : {'class' : 'btn btn-primary' }})}}
       
          <button type="button" class="btn btn-outline-white" data-dismiss="modal">
            Close
          </button>
        </div>
        {{ form_end(form)}}
    </div>
  </div>
</div>
</div>
{% endblock %}