{% extends 'navbar.html.twig' %}


{% block body %}<!-- Page Content -->
<div class="pt-5 pb-5">
    <div class="container">
        <!-- User info -->
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top" style="
                            background: url({{asset('assets/images/background/profile-bg.jpg')}}) no-repeat;
                            background-size: cover;
                        "></div>
                     <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="/uploads/{{ app.user.image }}" class="avatar-xl rounded-circle border-width-4 border-white"
                                alt="" />
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0">
                                {{ user.name }}
                                <a href="#!" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Beginner">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                    </svg>
                                </a>
                            </h2>
                            <p class="mb-0 d-block">{{ user.email }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

<!-- Content -->

        <div class="row mt-4">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                        <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                        <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                        <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="sidenav">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header">Health</span>
                            <ul class="list-unstyled ml-n2 mb-4">
                                    <!-- Nav item -->
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('listeRendezVousForDoctor') }}"><i class="fe fe-calendar nav-icon"></i>Rendez vous
                                    </a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item ">
                                    <a class="nav-link" href="{{ path('ListeClientByDoctor') }}"><i class="fe fe-credit-card nav-icon"></i>Client list</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('ListeDisponibility') }}"><i class="fe fe-credit-card nav-icon"></i>Disponibility</a>
                                </li>
                                    <!-- Nav item -->
                          
                            
                            </ul>
                                <!-- Navbar header -->
                            <span class="navbar-header">Account Settings</span>
                            <ul class="list-unstyled ml-n2 mb-0">
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('UpdateDoctorData',{'id':app.user.id}) }}"><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="security.html"><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="delete-profile.html"><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}"><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card mb-4">
                    <!-- Card header -->
                    <div class="card-header">
                        <h3 class="mb-0">Rendez vous details </h3>
                        <p class="mb-0">
                            Rendezvous Dashboard is a quick overview of all rendez vous details <a class="badge badge-primary"> imprimer </a>
                        </p>
                     
                        {% if  rendezVous.getOrdennance() %}
                        <a class="btn btn-primary btn-sm" href="{{ path('GenerateOrdenance',{'id':rendezVous.id}) }}"> Update Ordenance </a>
                        {% else %}
                        <a class="btn btn-primary btn-sm" href="{{ path('GenerateOrdenance',{'id':rendezVous.id}) }}"> Generate Ordenance </a>
                        {% endif %}
                
                        
                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#newCatgory"> Update Rendez Vous </a>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        {% if data is not empty %}
                        <div class="alert bg-light-danger text-dark alert-dismissible fade show"><strong>{{ data }} <a href="#"  data-toggle="modal" data-target="#newCatgory"> ici </a></strong></div>
                      
                         {% endif %}
                        <div class="alert bg-light-danger text-dark alert-dismissible fade show" role="alert">
                            <strong>rendez vous ID : # {{ rendezVous.id }} </strong> <span class="badge badge-info">{{ rendezVous.getState() }} </span>
                            <p class="mb-0">
                                This rendez vous passed at<strong> {{ rendezVous.getDatePassageRV|date('d-m-Y')}}</strong><br>
                                {% if form_errors(form.DateRV ) %} 
                                <strong>This rendez Can't be at {{ rendezVous.getDateRV|date('d-m-Y')}} </strong><br>
                                {%else%}
                                This rendez vous will be at <strong>{{ rendezVous.getDateRV|date('d-m-Y')}} : {{ rendezVous.getHourRV()|date('H:i')}}</strong>  <br>
                                {% endif %}
                                This rendez vous from  <strong>{{ rendezVous.getFromuser().getName() }} </strong>
                            </p>
                                <!-- Button -->
                          
                        </div>
        
                    </div>
                </div>
                <!-- Card -->
                <div class="card mb-4">
                    <!-- Card header -->
                    <div class="card-header border-bottom-0">
                        <h3 class="h4 mb-3">Ordenance Liste</h3>
                       
                    </div>
                    <!-- Table -->
                    <div class="table-responsive border-0">
                        <table class="table mb-0 text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkAll" />
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </th>
                                    <th class="border-0">Name</th>
                                    <th class="border-0">price</th>
                                    <th class="border-0">quantity</th>
                                    <th class="border-0">Status</th>
                                   
                                  
                                </tr>
                            </thead>
                            <tbody>
                                {% for ordl in ordenances%}
                                    {% if ordl.getRendezVous() == rendezVous %} 
                                        {% for ligne in ordl.getOrdennanceLignes() %}
                                            <tr>
                                                <td class="align-middle border-top-0">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="withdrawTwo" />
                                                        <label class="custom-control-label" for="withdrawTwo"></label>
                                                    </div>
                                                </td>
                                                <td class="align-middle border-top-0">#{{ ligne.getMedicament().getNom() }}</td>
                                                <td class="align-middle border-top-0">{{  ligne.getMedicament().getPrix() }}</td>
                                                <td class="align-middle border-top-0">
                                                    <span class="badge badge-warning">{{  ligne.getMedicament().getQuantite() }}</span>
                                                </td>
                                                <td class="align-middle border-top-0">happy </td>
                                            </tr>
                                        {% endfor %}
                                    {%endif %}
                                {% endfor %}
                           
                            </tbody>
                        </table>
           
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="modal fade" id="newCatgory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelOne" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabelOne">Update Rendez Vous</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ form_start(form , {'attr':{novalidate: 'novalidate'}} ) }}
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Date Rendezvous:</label>
              {%  if data is  empty %} 
              {{ form_widget(form.DateRV , {'attr' : {'class' : 'form-control flatpickr flatpickr-input active ', 'placeholder':'DateToday'}})}}
              <small>Field must contain a unique value</small>
              {% elseif form_errors(form.DateRV ) %} 
              {{ form_widget(form.DateRV , {'attr' : {'class' : 'form-control flatpickr flatpickr-input active is-invalid' , 'placeholder':'DateToday'}})}}
              {% else %}
              {{ form_widget(form.DateRV , {'attr' : {'class' : 'form-control flatpickr flatpickr-input active is-valid' , 'placeholder':'DateToday'}})}}
              {% endif %}
              <small>  {{ form_errors(form.DateRV )}} </small>
             
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Heure Rendez Vous:</label>
              {%  if data is  empty %} 
              {{ form_widget(form.HourRV , {'attr' : {'class' : 'form-control flatpickr ', 'placeholder':'HourRV'}})}}
              <small>Field must contain a unique value</small>
              {% elseif form_errors(form.HourRV ) %} 
              {{ form_widget(form.HourRV , {'attr' : {'class' : 'form-control flatpickr is-invalid' , 'placeholder':'HourRV'}})}}
              {% else %}
              {{ form_widget(form.HourRV , {'attr' : {'class' : 'form-control flatpickr  is-valid' , 'placeholder':'HourRV'}})}}
              {% endif %}
              <small>  {{ form_errors(form.HourRV )}} </small>
            
            </div>
            <div class="form-group">
                <label for="message-text" class="col-form-label">Note:</label>
                {{ form_widget(form.note , {'attr' : {'class' : 'form-control ', 'placeholder':'Note'}})}}
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {{ form_widget(form.update , {'attr' : {'class' : 'btn btn-primary' }})}}
        </div>

        {{ form_end(form)}}
      </div>
    </div>
  </div> 
{% endblock %}