{% extends 'navbar.html.twig' %}


{% block body %}<!-- Page Content -->
<div class="pt-5 pb-5">
    <div class="container">
        <!-- User info -->
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top" style="
                            background: url({{asset('assets/images/background/profile-bg.jpg')}}) no-repeat;
                            background-size: cover;
                        "></div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="{{asset('assets/images/avatar/avatar-3.jpg')}}" class="avatar-xl rounded-circle border-width-4 border-white"
                                alt="" />
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0">
                                {{ user.name }}
                                <a href="#!" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Beginner">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                    </svg>
                                </a>
                            </h2>
                            <p class="mb-0 d-block">{{ user.email }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

<!-- Content -->

        <div class="row mt-4">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                        <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                        <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                        <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="sidenav">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header">Health</span>
                            <ul class="list-unstyled ml-n2 mb-4">
                                <!-- Nav item -->
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('ListeRendezVous') }}"><i class="fe fe-calendar nav-icon"></i>Rendez vous
                                </a>
                            </li>
                                <!-- Nav item -->
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('ListeClientByDoctor') }}"><i class="fe fe-credit-card nav-icon"></i>Client list</a>
                            </li>
                                <!-- Nav item -->
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('ListeDisponibility') }}"><i class="fe fe-credit-card nav-icon"></i>Disponibility</a>
                            </li>
                                <!-- Nav item -->
                      
                        
                        </ul>
                                <!-- Navbar header -->
                            <span class="navbar-header">Account Settings</span>
                            <ul class="list-unstyled ml-n2 mb-0">
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('UpdateDoctorData',{'id':app.user.id}) }}"><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="security.html"><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="delete-profile.html"><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}"><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
        
                    
                    <div class="card mb-4">
                        <!-- Card Header -->
                        <div class="card-header">
                           <h4 class="mb-0">Update Disponibility</h4>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                           <!-- Form -->
                           {{ form_start(form , {'attr':{class: 'row' , novalidate: 'novalidate'}} ) }}
                              <div class="form-group col-12 col-md-12 col-lg-6">
                                 <label for="senderName" class="form-label">Date Disponibility </label>
                                 {{ form_widget(form.dateDispo , {'attr' : {'class' : 'form-control flatpickr flatpickr-input active' , 'placeholder':'Date Disponibility'}})}}
                              </div>
                              <div class="form-group col-12 col-md-12 col-lg-6">
                                 <label for="address" class="form-label">Start from houre<span class="text-danger">*</span> </label>
                                 {{ form_widget(form.heureStart , {'attr' : {'class' : 'form-control selectpicker' , 'placeholder':'HeureStart'}})}}
                              </div>
                              <div class="form-group col-12 col-md-12 col-lg-6">
                                 <label for="mailDriver" class="form-label">End In houre<span class="text-danger">*</span> </label>
                                 {{ form_widget(form.heureEnd , {'attr' : {'class' : 'form-control' , 'placeholder':'HeureEnd'}})}}
                              </div>
                              <div class="form-group col-12 col-md-12 col-lg-6">
                                 <label for="userName" class="form-label">Note<span class="text-danger">*</span>  </label>
                                  {{ form_widget(form.Note , {'attr' : {'class' : 'form-control' , 'placeholder':'Note'}})}}
                              </div>
                           
                              <div class="col-12 col-md-12 col-lg-6">
                                {{ form_widget(form.save , {'attr' : {'class' : 'btn btn-primary' }})}}
                                 <a href="#!" class="btn btn-outline-white">
                                 Cancel
                                 </a>
                              </div>
                              {{ form_end(form)}}
                        </div>
                     </div>
              
            </div>
        </div>
    </div>
</div>

{% endblock %}