{% extends 'mainbase.html.twig' %}


{% block body %}
<!-- Page Content -->
<div class="pt-5 pb-5">
    <div class="container">
        <!-- User info -->
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top" style="
                            background: url({{asset('assets/images/background/profile-bg.jpg')}}) no-repeat;
                            background-size: cover;
                        "></div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="/uploads/{{ app.user.image }}" class="avatar-xl rounded-circle border-width-4 border-white"
                                alt="" />
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0">
                                {{ user.name }}
                                <a href="#!" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Beginner">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                    </svg>
                                </a>
                            </h2>
                            <p class="mb-0 d-block">{{ user.email }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

<!-- Content -->

        <div class="row mt-4">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                        <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                        <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                        <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="sidenav">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header">Subscription</span>
                            <ul class="list-unstyled ml-n2 mb-4">
                                    <!-- Nav item -->
                                <li class="nav-item ">
                                    <a class="nav-link" href="{{ path('listeSubClient') }}"><i class="fe fe-calendar nav-icon"></i>My
                                        Subscriptions
                                    </a>
                                </li>
 
                                <li class="nav-item ">
                                    <a class="nav-link" href="{{ path('subhistory') }}"><i class="fe fe-calendar nav-icon"></i>Sub History
                                    </a>
                                </li>
                                 <li class="nav-item active">
                                    <a class="nav-link" href="{{ path('ListeOrder') }}"><i class="fe fe-calendar nav-icon"></i>Orders
                                    </a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="billing-info.html"><i class="fe fe-credit-card nav-icon"></i>Planning list</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="payment-method.html"><i class="fe fe-credit-card nav-icon"></i>Diet</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('showDoctor') }}"><i class="fe fe-clipboard nav-icon"></i>Doctors liste</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('showCoach') }}" ><i class="fe fe-clipboard nav-icon"></i>Coach liste</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('rendezVousListe') }}"><i class="fe fe-clipboard nav-icon"></i>Rendez-vous liste</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="invoice.html"><i class="fe fe-clipboard nav-icon"></i>Ordenance liste</a>
                                </li>
                                {% if is_granted('ROLE_MEDCIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('listeRendezVousForDoctor') }}"><i class="fe fe-clipboard nav-icon"></i>Your Dashboard</a>
                                </li>
                                {% endif %}
                                {% if is_granted('ROLE_COACH') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('activityListe') }}"><i class="fe fe-clipboard nav-icon"></i>Your Dashboard</a>
                                </li>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('admindash') }}"><i class="fe fe-clipboard nav-icon"></i>Your Dashboard</a>
                                </li>
                                {% endif %}
                            </ul>
                                <!-- Navbar header -->
                            <span class="navbar-header">Account Settings</span>
                            <ul class="list-unstyled ml-n2 mb-0">
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('UpdateClientData',{'id':app.user.id}) }}"><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="security.html"><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="delete-profile.html"><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}"><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card mb-4">
                    <!-- Card header -->
                    <div class="card-header border-bottom-0">
                        <h3 class="mb-0">Order History</h3>
                        <span> Order History Dashboard is a quick overview of all current
                            Order History.</span>
                    </div>
                    <!-- Table -->
                    <div class="table-responsive border-0">
                        <table class="table mb-0 text-nowrap">
                            <thead>
                                <tr>
                                    
                                    <th scope="col" class="border-0">REFERENCE</th>
                                    <th scope="col" class="border-0">date Order</th>
                                    <th scope="col" class="border-0">Shipping Adresse</th>
                                    <th scope="col" class="border-0">State</th>
                                 
                                    
                                </tr>
                            </thead>
                            <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td class="align-middle border-top-0">
                                        <h5 class="mb-0">
                                            <a href="{{ path('OrderByID' , {'id' : order.id  } ) }}" class="text-inherit"  >
                                             {{ order.reference }}
                                            </a>
                                        </h5>
                                    </td>
                                    <td class="align-middle border-top-0">     {{ order.dateOrder|date('d-m-Y') }}</td>
                                    <td class="align-middle border-top-0">  {{ order.shippingadress }}</td>
                                    <td class="align-middle border-top-0">    {{ order.state }}</td>
                                 
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}