<!DOCTYPE html>
<html>
    <head>
       
        <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block stylesheets %}

<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/images/favicon/favicon.ico')}}">


<!-- Libs CSS -->
<link href="{{asset('assets/fonts/feather/feather.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/dragula/dist/dragula.min.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/@mdi/font/css/materialdesignicons.min.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/prismjs/themes/prism.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/dropzone/dist/dropzone.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/magnific-popup/dist/magnific-popup.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css')}}" rel="stylesheet">
<link href="{{asset('assets/libs/@yaireo/tagify/dist/tagify.css')}}" rel="stylesheet">
<link href="{{asset('assets/libs/tiny-slider/dist/tiny-slider.css')}}" rel="stylesheet">
<link href="{{asset('assets/libs/tippy.js/dist/tippy.css')}}" rel="stylesheet">


<!-- Theme CSS -->
<link rel="stylesheet" href="{{asset('assets/css/theme.min.css')}}">

<title>Admin Dash</title>
{% endblock %}

    </head>
    <body>
      {% if is_granted('ROLE_ADMIN') %}
      <!-- Wrapper -->
      <div id="db-wrapper">
        <!-- Sidebar -->
        <nav class="navbar-vertical navbar">
          <div class="nav-scroller">
            <!-- Brand logo -->
            <a class="navbar-brand" href="{{ path('homepageVisitor') }}"
                  ><img src="{{asset('assets/images/brand/logo/logo-inverse.svg')}}" alt=""
                  /></a>
            <!-- Navbar nav -->
            <ul class="navbar-nav flex-column" id="sideNavbar">
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link "  href="{{ path('admindash') }}">
                  <i class="nav-icon fe fe-home mr-2"></i>Dashboard
                </a>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link " href="#!" data-toggle="collapse" data-target="#navCourses" aria-expanded="false"
                  aria-controls="navCourses">
                  <i class="nav-icon fe fe-book mr-2"></i>Subscribers
                </a>
                <div id="navCourses" class="collapse" data-parent="#sideNavbar">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('all_sub') }}">All Subscribers
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="admin-course-category.html">Add New Subscriber
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link " href="#!" data-toggle="collapse" data-target="#navProfile" aria-expanded="false"
                  aria-controls="navProfile">
                  <i class="nav-icon fe fe-user mr-2"></i>Users
                </a>
                <div id="navProfile" class="collapse " data-parent="#sideNavbar">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link " href="{{ path('listeClient') }}">Client 
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="{{ path('listeDoctor') }}">Doctors</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link"  href="{{ path('listePharmaciens') }}">Pharmacien</a>
                      </li>
    
                      <li class="nav-item ">
                        <a class="nav-link" href="{{ path('listecoachs') }}">Coach</a>
                      </li>
                  </ul>
                </div>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link " href="#!" data-toggle="collapse" data-target="#navCMS" aria-expanded="false"
                  aria-controls="navCMS">
                  <i class="nav-icon fe fe-book-open mr-2"></i>RendezVous
                </a>
                <div id="navCMS" class="collapse " data-parent="#sideNavbar">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="{{ path('rendezVousListe') }}">all Rendez-Vous
                      </a>
                    </li>
                
                    <li class="nav-item">
                      <a class="nav-link" href="admin-cms-post-new.html">New Rendez-vous
                      </a>
                    </li>
                 
                  </ul>
                </div>
              </li>
              <!-- Nav item -->
              <li class="nav-item">
                <a class="nav-link " href="#!" data-toggle="collapse" data-target="#navAuthentication" aria-expanded="false"
                  aria-controls="navAuthentication">
                  <i class="nav-icon fe fe-lock mr-2"></i>Store
                </a>
                <div id="navAuthentication" class="collapse " data-parent="#sideNavbar">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link " href="sign-in.html">Product
                      </a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="sign-up.html">Category</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link" href="forget-password.html"> Commandes</a>
                    </li>
                  </ul>
                </div>
               
              <li class="nav-item">
                <a class="nav-link "  href="{{ path('listeSubClient') }}">
                  <i class="nav-icon fe fe-user mr-2"></i>Go To ClientDASH
                </a>
              </li>
              </li>
            
            </ul>
           
          </div>
        </nav>
     <!-- sidebar -->
        <!-- Page Content -->
        <div id="page-content">
            <div class="header">
              <!-- navbar -->
              <nav class="navbar-default navbar navbar-expand-lg">
                <a id="nav-toggle" href="#!"><i class="fe fe-menu"></i></a>
                <div class="ml-lg-3 d-none d-md-none d-lg-block">
                  <form class="d-flex align-items-center">
                    <span class="position-absolute pl-3 search-icon">
                      <i class="fe fe-search"></i>
                    </span>
                    <input type="search" class="form-control form-control-sm  pl-6" placeholder="Search Entire Dashboard" />
                  </form>
                </div>
                <ul class="navbar-nav navbar-right-wrap ml-auto  d-flex nav-top-wrap ">
                  <li class="dropdown stopevent">
                    <a class="btn btn-light btn-icon rounded-circle indicator indicator-primary text-muted" href="#!"
                      role="button" id="dropdownNotification" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fe fe-bell"> </i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg  " aria-labelledby="dropdownNotification">
                        <div class="border-bottom px-3 pt-1 pb-3 align-items-center">
                          <span class="h5 mb-0">Notifications</span>
                          <a href="# " class="text-muted"><span class="align-middle"><i
                                class="fe fe-settings mr-1"></i></span></a>
                        </div>
                        <!-- List group -->
                        <ul class="list-group list-group-flush notification-list-scroll">
                          <!-- List group item -->
                          <li class="list-group-item bg-light">
                            <div class="row">
                              <div class="col">
                                <div class="d-flex">
                                  <img src="/uploads/{{ app.user.image }}" alt="" class="avatar-md rounded-circle">
                                  <div class="ml-3">
                                    <h5 class="font-weight-bold mb-1">Kristin Watson:</h5>
                                    <p class="mb-3">Krisitn Watsan like your comment on course
                                      Javascript Introduction!
                                    </p>
                                    <span class=" font-size-xs text-muted">
                                      <span><span class="fe fe-thumbs-up text-success mr-1"></span>2
                                        hours ago,</span>
                                      <span class="ml-1">2:19 PM</span>
                                    </span>
                                  </div>
                                </div>
                                <a class="stretched-link" href="#!"></a>
                              </div>
                              <div class="col-auto text-center">
                                <a href="#!" class="badge-dot badge-info " data-toggle="tooltip" data-placement="top" title=""
                                  data-original-title="Mark as read">
                                </a>
                                <div>
                                  <a href="#!" class=" bg-transparent" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Remove">
                                    <i class="fe fe-x text-muted"></i>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </li>
                        
                        </ul>
                        <div class="border-top px-3 pt-3 pb-0">
                          <a href="../pages/notification-history.html" class="text-muted">See all
                            Notifications</a>
                        </div>
                    </div>
                  </li>
                  <li class="dropdown ml-2">
                    <a class="rounded-circle " href="#!" role="button" id="dropdownUser" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <div class="avatar avatar-md avatar-indicators avatar-online">
                        <img alt="avatar" src="/uploads/{{ app.user.image }}" class="rounded-circle">
                      </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
                      <div class="dropdown-item">
                        <div class="d-flex">
                          <div class="avatar avatar-md avatar-indicators avatar-online">
                            <img alt="avatar" src="/uploads/{{ app.user.image }}" class="rounded-circle">
                          </div>
                          <div class="ml-3 lh-1">
                            <h5 class="mb-1">Annette Black</h5>
                            <p class="mb-0 text-muted">annette@geeksui.com</p>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown-divider"></div>
                      <ul class="list-unstyled">
                        <li class="dropdown-submenu dropleft-lg">
                          <a class="dropdown-item dropdown-list-group-item dropdown-toggle" href="#!">
                            <i class="fe fe-circle mr-2"></i>Status
                          </a>
                          <ul class="dropdown-menu">
                            <li>
                              <a class="dropdown-item" href="#!">
                                <span class="badge-dot bg-success mr-2"></span>Online
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#!">
                                <span class="badge-dot bg-secondary mr-2"></span>Offline
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#!">
                                <span class="badge-dot bg-warning mr-2"></span>Away
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#!">
                                <span class="badge-dot bg-danger mr-2"></span>Busy
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a class="dropdown-item" href="{{ path('listeSubClient') }}">
                            <i class="fe fe-user mr-2"></i>Profile
                          </a>
                        </li>
                       
                    
                        <li>
                          <a class="dropdown-item" href="../pages/student-subscriptions.html">
                            <i class="fe fe-star mr-2"></i>Subscription
                          </a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="#!">
                            <i class="fe fe-settings mr-2"></i>Settings
                          </a>
                        </li>
                      </ul>
                      <div class="dropdown-divider"></div>
                      <ul class="list-unstyled">
                        <li>
                          <a class="dropdown-item"  href="{{ path('app_logout') }}">
                            <i class="fe fe-power mr-2"></i>Sign Out
                          </a>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </nav>
            </div>
      
       
        {% block body %}{% endblock %}
    </div>
    </div>

{% else %} 
<!-- Page Content -->
 <div class="container d-flex flex-column">
  <div class="row align-items-center justify-content-center no-gutters min-vh-100">
   <!-- Docs -->
   <div class="offset-lg-1 col-lg-4 col-md-12 col-12 text-center text-lg-left">
    <h1 class="display-1 mb-3">Oops!</h1>
    <h3>Sorry, we couldn’t find the page you were looking for.</h3>
    <p class="mb-4 small">Error Code: 404 not found.</p>
    <a href="../index.html" class="btn btn-primary mr-2">Back to Safety</a>
   </div>
   <!-- img -->
   <div class="offset-lg-1 col-lg-6 col-md-12 col-12">
    <img src="../assets/images/error/404-error-img.svg" alt="" class="w-100" />
   </div>
  </div>
 </div>

{% endif %}
   
   


        {% block javascripts %}
    <!-- Scripts -->
    <!-- Libs JS -->
<script src="{{asset('assets/libs/jquery/dist/jquery.min.js')}}"></script>
<script src="{{asset('assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{asset('assets/libs/odometer/odometer.min.js')}}"></script>
<script src="{{asset('assets/libs/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{asset('assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
<script src="{{asset('assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js')}}"></script>
<script src="{{asset('assets/libs/flatpickr/dist/flatpickr.min.js')}}"></script>
<script src="{{asset('assets/libs/inputmask/dist/jquery.inputmask.min.js')}}"></script>
<script src="{{asset('assets/libs/apexcharts/dist/apexcharts.min.js')}}"></script>
<script src="{{asset('assets/libs/quill/dist/quill.min.js')}}"></script>
<script src="{{asset('assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js')}}"></script>
<script src="{{asset('assets/libs/dragula/dist/dragula.min.js')}}"></script>
<script src="{{asset('assets/libs/bs-stepper/dist/js/bs-stepper.min.js')}}"></script>
<script src="{{asset('assets/libs/dropzone/dist/min/dropzone.min.js')}}"></script>
<script src="{{asset('assets/libs/jQuery.print/jQuery.print.js')}}"></script>
<script src="{{asset('assets/libs/prismjs/prism.js')}}"></script>
<script src="{{asset('assets/libs/prismjs/components/prism-scss.min.js')}}"></script>
<script src="{{asset('assets/libs/@yaireo/tagify/dist/tagify.min.js')}}"></script>
<script src="{{asset('assets/libs/tiny-slider/dist/min/tiny-slider.js')}}"></script>
<script src="{{asset('assets/libs/@popperjs/core/dist/umd/popper.min.js')}}"></script>
<script src="{{asset('assets/libs/tippy.js/dist/tippy-bundle.umd.min.js')}}"></script>
<script src="{{asset('assets/libs/typed.js/lib/typed.min.js')}}"></script>

<!-- clipboard -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>


<!-- Theme JS -->
<script src="{{asset('assets/js/theme.min.js')}}"></script>

{% endblock %}
    </body>
</html>
