<!DOCTYPE html>
<html>
    <head>
       
        <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block stylesheets %}

<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/images/favicon/favicon.ico')}}">


<!-- Libs CSS -->
<link href="{{asset('assets/fonts/feather/feather.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/dragula/dist/dragula.min.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/@mdi/font/css/materialdesignicons.min.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/prismjs/themes/prism.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/dropzone/dist/dropzone.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/magnific-popup/dist/magnific-popup.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css')}}" rel="stylesheet">
<link href="{{asset('assets/libs/@yaireo/tagify/dist/tagify.css')}}" rel="stylesheet">
<link href="{{asset('assets/libs/tiny-slider/dist/tiny-slider.css')}}" rel="stylesheet">
<link href="{{asset('assets/libs/tippy.js/dist/tippy.css')}}" rel="stylesheet">


<!-- Theme CSS -->
<link rel="stylesheet" href="./assets/css/theme.min.css">

{% endblock %}

  <title>Fit-Health</title>
    </head>
    <body>
         
<nav class="navbar navbar-expand-lg navbar-dark bg-dark is-navbar-dark">
	<div class="container-fluid px-0">
	    <a class="navbar-brand" href="{{ path('homepageVisitor') }}"
                  ><img src="{{asset('assets/images/brand/logo/logo.svg')}}" alt=""
                  /></a>

                  <ul class="nav justify-content-center">
                    <li class="nav-item">
                      <a class="nav-link text-secondary" href="#list-item-1"> <strong>Home </strong></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-secondary" href="#list-item-2"><strong> FeedBacks </strong></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-secondary" href="#list-item-3"><strong> What do you win with us ? </strong></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-secondary"  data-toggle="modal" data-target="#exampleModal"><strong> Contact US </strong></a>
                      </li>
                  </ul>
	   <!-- Collapse -->
	   <div class="collapse navbar-collapse" id="navbar-default">
		 
          <div class="ml-auto mt-3 mt-lg-0">
		 <a href="{{ path('app_login') }}" class="btn btn-white shadow-sm mr-1">Sign In</a>
         <a href="{{ path('app_registration') }}" class="btn btn-primary">Sign Up</a>
        </div>
	   </div>
	</div>
 </nav>

        {% block body %}{% endblock %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelOne" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelOne">New message</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Recipient:</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Message:</label>
                      <textarea class="form-control" id="message-text"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Send message</button>
                </div>
              </div>
            </div>
          </div> 

        {% block javascripts %}
    <!-- Scripts -->
    <!-- Libs JS -->
    <script src="{{asset('assets/libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{asset('assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('assets/libs/odometer/odometer.min.js')}}"></script>
    <script src="{{asset('assets/libs/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js')}}"></script>
    <script src="{{asset('assets/libs/flatpickr/dist/flatpickr.min.js')}}"></script>
    <script src="{{asset('assets/libs/inputmask/dist/jquery.inputmask.min.js')}}"></script>
    <script src="{{asset('assets/libs/apexcharts/dist/apexcharts.min.js')}}"></script>
    <script src="{{asset('assets/libs/quill/dist/quill.min.js')}}"></script>
    <script src="{{asset('assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js')}}"></script>
    <script src="{{asset('assets/libs/dragula/dist/dragula.min.js')}}"></script>
    <script src="{{asset('assets/libs/bs-stepper/dist/js/bs-stepper.min.js')}}"></script>
    <script src="{{asset('assets/libs/dropzone/dist/min/dropzone.min.js')}}"></script>
    <script src="{{asset('assets/libs/jQuery.print/jQuery.print.js')}}"></script>
    <script src="{{asset('assets/libs/prismjs/prism.js')}}"></script>
    <script src="{{asset('assets/libs/prismjs/components/prism-scss.min.js')}}"></script>
    <script src="{{asset('assets/libs/@yaireo/tagify/dist/tagify.min.js')}}"></script>
    <script src="{{asset('assets/libs/tiny-slider/dist/min/tiny-slider.js')}}"></script>
    <script src="{{asset('assets/libs/@popperjs/core/dist/umd/popper.min.js')}}"></script>
    <script src="{{asset('assets/libs/tippy.js/dist/tippy-bundle.umd.min.js')}}"></script>
    <script src="{{asset('assets/libs/typed.js/lib/typed.min.js')}}"></script>
    
    <!-- clipboard -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    
    
    <!-- Theme JS -->
    <script src="{{asset('assets/js/theme.min.js')}}"></script>

{% endblock %}
    </body>
</html>
