<!DOCTYPE html>
<html>
    <head>
       
        <!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block stylesheets %}

<!-- Favicon icon-->
<link rel="shortcut icon" type="image/x-icon" href="{{asset('assets/images/favicon/favicon.ico')}}">


<!-- Libs CSS -->
<link href="{{asset('assets/fonts/feather/feather.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/dragula/dist/dragula.min.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/@mdi/font/css/materialdesignicons.min.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/prismjs/themes/prism.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/dropzone/dist/dropzone.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/magnific-popup/dist/magnific-popup.css')}}" rel="stylesheet" />
<link href="{{asset('assets/libs/bootstrap-select/dist/css/bootstrap-select.min.css')}}" rel="stylesheet">
<link href="{{asset('assets/libs/@yaireo/tagify/dist/tagify.css')}}" rel="stylesheet">
<link href="{{asset('assets/libs/tiny-slider/dist/tiny-slider.css')}}" rel="stylesheet">
<link href="{{asset('assets/libs/tippy.js/dist/tippy.css')}}" rel="stylesheet">


<!-- Theme CSS -->
<link rel="stylesheet" href="{{asset('assets/css/theme.min.css')}}">

{% endblock %}

  <title>Fit-Health</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-default">
            <div class="container-fluid px-0">
               <a class="navbar-brand" href="{{ path('homepageVisitor') }}"
                  ><img src="{{asset('assets/images/brand/logo/logo.svg')}}" alt=""
                  /></a>
               <!-- Mobile view nav wrap -->
               <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="#list-item-1"> <strong> 
                       <i class="nav-icon fe fe-home mr-2"></i>Home </strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="#list-item-2"><strong> 
                     <i class="nav-icon fe fe-shopping-cart mr-2"></i>Recomded Product </strong></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-secondary" href="#list-item-3"><strong>
                     <i class="nav-icon fe fe-message-square mr-2"></i> Feedbacks </strong></a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="nav-link text-secondary"  data-toggle="modal" data-target="#exampleModal"><strong>
                        <i class="nav-icon fe fe-mail mr-2"></i> Contact US </strong></a>
                    </li>
                </ul>
               <!-- Collapse -->
               <div class="collapse navbar-collapse" id="navbar-default">
                
       
                  <ul class="navbar-nav navbar-right-wrap ml-auto d-none d-lg-block">
                     <li class="dropdown d-inline-block stopevent">
                        <a
                           class="btn btn-light btn-icon rounded-circle text-muted indicator indicator-primary"
                           href="#!"
                           role="button"
                           id="dropdownNotificationSecond"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           >
                        <i class="fe fe-bell"> </i>
                        </a>
                        <div
                           class="dropdown-menu dropdown-menu-xl dropdown-menu-right"
                           aria-labelledby="dropdownNotificationSecond"
                           >
                           <div>
                              <div
                                 class="border-bottom px-3 pt-1 pb-3 d-flex justify-content-between align-items-center"
                                 >
                                 <span class="h5 mb-0">Notifications</span>
                                 <a href="# " class="text-muted"
                                    ><span class="align-middle"
                                    ><i class="fe fe-settings mr-1"></i></span
                                    ></a>
                              </div>
                              <ul class="list-group list-group-flush notification-list-scroll">

                                 <li class="list-group-item bg-light">
                                    <div class="row">
                                       <div class="col">
                                          <div class="d-flex">
                                             <img
                                                src="../assets/images/avatar/avatar-1.jpg"
                                                alt=""
                                                class="avatar-md rounded-circle"
                                                />
                                             <div class="ml-3">
                                                <h5 class="font-weight-bold mb-1">Kristin Watson:</h5>
                                                <p class="mb-3">
                                                   Krisitn Watsan like your comment on course
                                                   Javascript Introduction!
                                                </p>
                                                <span class="font-size-xs text-muted">
                                                <span
                                                   ><span
                                                   class="fe fe-thumbs-up text-success mr-1"
                                                   ></span
                                                   >2 hours ago,</span
                                                   >
                                                <span class="ml-1">2:19 PM</span>
                                                </span>
                                             </div>
                                          </div>
                                          <a class="stretched-link" href="#!"></a>
                                       </div>
                                       <div class="col-auto text-center">
                                          <a
                                             href="#!"
                                             class="badge-dot badge-info"
                                             data-toggle="tooltip"
                                             data-placement="top"
                                             title=""
                                             data-original-title="Mark as read"
                                             >
                                          </a>
                                          <div>
                                             <a
                                                href="#!"
                                                class="bg-transparent"
                                                data-toggle="tooltip"
                                                data-placement="top"
                                                title=""
                                                data-original-title="Remove"
                                                >
                                             <i class="fe fe-x text-muted"></i>
                                             </a>
                                          </div>
                                       </div>
                                    </div>
                                 </li>
                            
                              </ul>
                              <div class="border-top px-3 pt-3 pb-0">
                                 <a
                                    href="../pages/notification-history.html"
                                    class="text-muted"
                                    >See all Notifications</a
                                    >
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="dropdown ml-2 d-inline-block">
                        <a
                           class="rounded-circle"
                           href="#!"
                           role="button"
                           id="dropdownUserProfile"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"
                           >
                           <div class="avatar avatar-md avatar-indicators avatar-online">
                              <img
                                 alt="avatar"
                                src="/uploads/{{ app.user.image }}"
                                 class="rounded-circle"
                                 />
                           </div>
                        </a>
                        <div
                           class="dropdown-menu dropdown-menu-right"
                           aria-labelledby="dropdownUserProfile"
                           >
                           <div class="dropdown-item">
                              <div class="d-flex">
                                 <div class="avatar avatar-md avatar-indicators avatar-online">
                                    <img
                                       alt="avatar"
                                   src="/uploads/{{ app.user.image }}"
                                       class="rounded-circle"
                                       />
                                 </div>
                                 <div class="ml-3 lh-1">
                                    <h5 class="mb-1">Annette Black</h5>
                                    <p class="mb-0 text-muted">annette@geeksui.com</p>
                                 </div>
                              </div>
                           </div>
                           <div class="dropdown-divider"></div>
                           <ul class="list-unstyled">
                              <li class="dropdown-submenu dropleft-lg">
                                 <a
                                    class="dropdown-item dropdown-list-group-item dropdown-toggle"
                                    href="#!"
                                    >
                                 <i class="fe fe-circle mr-2"></i>Status
                                 </a>
                                 <ul class="dropdown-menu">
                                    <li>
                                       <a class="dropdown-item" href="#!">
                                       <span class="badge-dot bg-success mr-2"></span>Online
                                       </a>
                                    </li>
                                    <li>
                                       <a class="dropdown-item" href="#!">
                                       <span class="badge-dot bg-secondary mr-2"></span>Offline
                                       </a>
                                    </li>
                                    <li>
                                       <a class="dropdown-item" href="#!">
                                       <span class="badge-dot bg-warning mr-2"></span>Away
                                       </a>
                                    </li>
                                    <li>
                                       <a class="dropdown-item" href="#!">
                                       <span class="badge-dot bg-danger mr-2"></span>Busy
                                       </a>
                                    </li>
                                 </ul>
                              </li>
                              <li>
                                 <a
                                    class="dropdown-item"
                                    href="{{ path('listeSubClient') }}"
                                    >
                                 <i class="fe fe-user mr-2"></i>Profile
                                 </a>
                              </li>
                              <li>
                                 <a
                                    class="dropdown-item"
                                    href="../pages/student-subscriptions.html"
                                    >
                                 <i class="fe fe-star mr-2"></i>Subscription
                                 </a>
                              </li>
                              <li>
                                 <a class="dropdown-item" href="#!">
                                 <i class="fe fe-settings mr-2"></i>Settings
                                 </a>
                              </li>
                           </ul>
                           <div class="dropdown-divider"></div>
                           <ul class="list-unstyled">
                              <li>
                                 <a class="dropdown-item" href="{{ path('app_logout') }}">
                                 <i class="fe fe-power mr-2"></i>Sign Out
                                 </a>
                              </li>
                           </ul>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
        
        {% block body %}{% endblock %}
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelOne" aria-hidden="true">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="exampleModalLabelOne">New message</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-body">
               <form>
                 <div class="form-group">
                   <label for="recipient-name" class="col-form-label">Recipient:</label>
                   <input type="text" class="form-control" id="recipient-name">
                 </div>
                 <div class="form-group">
                   <label for="message-text" class="col-form-label">Message:</label>
                   <textarea class="form-control" id="message-text"></textarea>
                 </div>
               </form>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button type="button" class="btn btn-primary">Send message</button>
             </div>
           </div>
         </div>
       </div> 
        <div class="footer">
            <div class="container">
                <div class="row align-items-center no-gutters border-top py-2">
                    <!-- Desc -->
                    <div class="col-md-6 col-12 text-center text-md-left">
                        <span>© 2020 Geeks. All Rights Reserved.</span>
                    </div>
                      <!-- Links -->
                    <div class="col-12 col-md-6">
                        <nav class="nav nav-footer justify-content-center justify-content-md-end">
                            <a class="nav-link active pl-0" href="#!">Privacy</a>
                            <a class="nav-link" href="#!">Terms </a>
                            <a class="nav-link" href="#!">Feedback</a>
                            <a class="nav-link" href="#!">Support</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        

        {% block javascripts %}
    <!-- Scripts -->
    <!-- Libs JS -->
    <script src="{{asset('assets/libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{asset('assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('assets/libs/odometer/odometer.min.js')}}"></script>
    <script src="{{asset('assets/libs/jquery-slimscroll/jquery.slimscroll.min.js')}}"></script>
    <script src="{{asset('assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js')}}"></script>
    <script src="{{asset('assets/libs/bootstrap-select/dist/js/bootstrap-select.min.js')}}"></script>
    <script src="{{asset('assets/libs/flatpickr/dist/flatpickr.min.js')}}"></script>
    <script src="{{asset('assets/libs/inputmask/dist/jquery.inputmask.min.js')}}"></script>
    <script src="{{asset('assets/libs/apexcharts/dist/apexcharts.min.js')}}"></script>
    <script src="{{asset('assets/libs/quill/dist/quill.min.js')}}"></script>
    <script src="{{asset('assets/libs/file-upload-with-preview/dist/file-upload-with-preview.min.js')}}"></script>
    <script src="{{asset('assets/libs/dragula/dist/dragula.min.js')}}"></script>
    <script src="{{asset('assets/libs/bs-stepper/dist/js/bs-stepper.min.js')}}"></script>
    <script src="{{asset('assets/libs/dropzone/dist/min/dropzone.min.js')}}"></script>
    <script src="{{asset('assets/libs/jQuery.print/jQuery.print.js')}}"></script>
    <script src="{{asset('assets/libs/prismjs/prism.js')}}"></script>
    <script src="{{asset('assets/libs/prismjs/components/prism-scss.min.js')}}"></script>
    <script src="{{asset('assets/libs/@yaireo/tagify/dist/tagify.min.js')}}"></script>
    <script src="{{asset('assets/libs/tiny-slider/dist/min/tiny-slider.js')}}"></script>
    <script src="{{asset('assets/libs/@popperjs/core/dist/umd/popper.min.js')}}"></script>
    <script src="{{asset('assets/libs/tippy.js/dist/tippy-bundle.umd.min.js')}}"></script>
    <script src="{{asset('assets/libs/typed.js/lib/typed.min.js')}}"></script>
    
    <!-- clipboard -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
    
    
    <!-- Theme JS -->
    <script src="{{asset('assets/js/theme.min.js')}}"></script>

{% endblock %}
    </body>
</html>
