{% extends 'baseadmin.html.twig' %}


{% block body %}

<div class="container-fluid p-4">
    <div class="row">
      <!-- Page Header -->
      <div class="col-lg-12 col-md-12 col-12">
        <div class="border-bottom pb-4 mb-4 d-lg-flex align-items-center justify-content-between">
          <div class="mb-2 mb-lg-0">
            <h1 class="mb-1 h2 font-weight-bold">All Pharmacien</h1>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{{ path('admindash') }}">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="{{ path('listePharmaciens') }}">Pharmacien</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                   Update Pharmacien
                </li>
              </ol>
            </nav>
          </div>
    
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
                <!-- Card -->
        
                    
                    <div class="card mb-4">
                        <!-- Card Header -->
                        <div class="card-header">
                           <h4 class="mb-0">Update Pharmacien</h4>
                        </div>
                 {% if data is not empty %}
          <div class="alert alert-danger"><strong>{{ data }} </strong></div>
          {% endif %}
                        <!-- Card Body -->
                        <div class="card-body">
                           <!-- Form -->
                           {{ form_start(form , {'attr':{class: 'row' , novalidate: 'novalidate'}} ) }}
                            <div class="form-group col-12 col-md-12 col-lg-6">
                               {{ form_label(form.CIN,"Cin" )}}
            {%  if data is  empty %} 
            {{ form_widget(form.CIN , {'attr' : {'class' : 'form-control ', 'placeholder':'CIN'}})}}
            {% elseif form_errors(form.CIN ) %} 
            {{ form_widget(form.CIN , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'CIN'}})}}
            {% else %}
            {{ form_widget(form.CIN , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'CIN'}})}}
            {% endif %}
            {{ form_errors(form.CIN )}}
                              </div>
                              <div class="form-group col-12 col-md-12 col-lg-6">
                         {{ form_label(form.Name,"Name" )}}
            {%  if data is  empty %} 
            {{ form_widget(form.Name , {'attr' : {'class' : 'form-control ', 'placeholder':'Name'}})}}
            {% elseif form_errors(form.Name ) %} 
            {{ form_widget(form.Name , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'Name'}})}}
            {% else %}
            {{ form_widget(form.Name , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'Name'}})}}
            {% endif %}
            {{ form_errors(form.Name )}}
                              </div>
                              <div class="form-group col-12 col-md-12 col-lg-6">
                       {{ form_label(form.Adresse,"Adresse" )}}
            {%  if data is  empty %} 
            {{ form_widget(form.Adresse , {'attr' : {'class' : 'form-control ', 'placeholder':'Adresse'}})}}
            {% elseif form_errors(form.Adresse ) %} 
            {{ form_widget(form.Adresse , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'Adresse'}})}}
            {% else %}
            {{ form_widget(form.Adresse , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'Adresse'}})}}
            {% endif %}
            {{ form_errors(form.Adresse )}}
                              </div>
                              <div class="form-group col-12 col-md-12 col-lg-6">
                           {{ form_label(form.Age,"Age")}}
            {%  if data is  empty %} 
            {{ form_widget(form.Age , {'attr' : {'class' : 'form-control ', 'placeholder':'Age'}})}}
            {% elseif form_errors(form.Age ) %} 
            {{ form_widget(form.Age , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'Age'}})}}
            {% else %}
            {{ form_widget(form.Age , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'Age'}})}}
            {% endif %}
            {{ form_errors(form.Age )}}
                              </div>
                               <div class="form-group col-12 col-md-12 col-lg-6">
                      {{ form_label(form.Numero,"Numero Telephone" )}}
            {%  if data is  empty %} 
            {{ form_widget(form.Numero , {'attr' : {'class' : 'form-control ', 'placeholder':'Numero'}})}}
            {% elseif form_errors(form.Numero ) %} 
            {{ form_widget(form.Numero , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'Numero'}})}}
            {% else %}
            {{ form_widget(form.Numero , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'Numero'}})}}
            {% endif %}
            {{ form_errors(form.Numero )}}
                              </div>
                               <div class="form-group col-12 col-md-12 col-lg-6">
                      {{ form_label(form.Email,"Email" )}}
            {%  if data is  empty %} 
            {{ form_widget(form.Email , {'attr' : {'class' : 'form-control ', 'placeholder':'Email'}})}}
            {% elseif form_errors(form.Email ) %} 
            {{ form_widget(form.Email , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'Email'}})}}
            {% else %}
            {{ form_widget(form.Email , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'Email'}})}}
            {% endif %}
            {{ form_errors(form.Email )}}
                              </div>
                               <div class="form-group col-12 col-md-12 col-lg-6">
                        {{ form_label(form.Password,"Password" )}}
            {%  if data is  empty %} 
            {{ form_widget(form.Password , {'attr' : {'class' : 'form-control ', 'placeholder':'Password'}})}}
            {% elseif form_errors(form.Password ) %} 
            {{ form_widget(form.Password , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'Password'}})}}
            {% else %}
            {{ form_widget(form.Password , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'Password'}})}}
            {% endif %}
            {{ form_errors(form.Password )}}
                              </div>
                              <div class="form-group col-12 col-md-12 col-lg-6">
                 {{ form_label(form.confirm_password,"Confirm Password" )}}
            {%  if data is  empty %} 
            {{ form_widget(form.confirm_password , {'attr' : {'class' : 'form-control ', 'placeholder':'Password'}})}}
            {% elseif form_errors(form.confirm_password ) %} 
            {{ form_widget(form.confirm_password , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'Password'}})}}
            {% else %}
            {{ form_widget(form.confirm_password , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'Password'}})}}
            {% endif %}
            {{ form_errors(form.confirm_password )}}
                              </div>
                           
                              <div class="col-12 col-md-12 col-lg-6">
                                {{ form_widget(form.save , {'attr' : {'class' : 'btn btn-primary' }})}}
                                 <a href="{{path('listePharmaciens')}}" class="btn btn-outline-white">
                                 Cancel
                                 </a>
                              </div>
                              {{ form_end(form)}}
                        </div>
                     </div>
                   
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}