{% extends 'navbar.html.twig' %}


{% block body %}
<!-- Page Content -->
<div class="pt-5 pb-5">
    <div class="container">
        <!-- User info -->
        <div class="row align-items-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <!-- Bg -->
                <div class="pt-16 rounded-top" style="
                            background: url({{asset('assets/images/background/profile-bg.jpg')}}) no-repeat;
                            background-size: cover;
                        "></div>
                <div
                    class="d-flex align-items-end justify-content-between bg-white px-4 pt-2 pb-4 rounded-none rounded-bottom shadow-sm">
                    <div class="d-flex align-items-center">
                        <div class="mr-2 position-relative d-flex justify-content-end align-items-end mt-n5">
                            <img src="/uploads/{{ app.user.image }}" class="avatar-xl rounded-circle border-width-4 border-white"
                                alt="" />
                        </div>
                        <div class="lh-1">
                            <h2 class="mb-0">
                                {{ user.name }}
                                <a href="#!" class="text-decoration-none" data-toggle="tooltip" data-placement="top" title="Beginner">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect x="3" y="8" width="2" height="6" rx="1" fill="#754FFE"></rect>
                                        <rect x="7" y="5" width="2" height="9" rx="1" fill="#DBD8E9"></rect>
                                        <rect x="11" y="2" width="2" height="12" rx="1" fill="#DBD8E9"></rect>
                                    </svg>
                                </a>
                            </h2>
                            <p class="mb-0 d-block">{{ user.email }}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

<!-- Content -->

        <div class="row mt-4">
            <div class="col-lg-3 col-md-4 col-12">
                <!-- Side navbar -->
                <nav class="navbar navbar-expand-md navbar-light shadow-sm mb-4 mb-lg-0 sidenav">
                        <!-- Menu -->
                    <a class="d-xl-none d-lg-none d-md-none text-inherit font-weight-bold" href="#!">Menu</a>
                        <!-- Button -->
                    <button class="navbar-toggler d-md-none icon-shape icon-sm rounded bg-primary text-light" type="button"
                        data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="fe fe-menu"></span>
                    </button>
                        <!-- Collapse navbar -->
                    <div class="collapse navbar-collapse" id="sidenav">
                        <div class="navbar-nav flex-column">
                            <span class="navbar-header">Sport</span>
                            <ul class="list-unstyled ml-n2 mb-4">
                                <!-- Nav item -->
                            <li class="nav-item active ">
                                <a class="nav-link" href="{{ path('activityListe') }}"><i class="fe fe-calendar nav-icon"></i>Activity
                                </a>
                            </li>
                                <!-- Nav item -->
                            <li class="nav-item ">
                                <a class="nav-link " href="{{ path('listeSeance') }}"><i class="fe fe-credit-card nav-icon"></i>Seance</a>
                            </li>
                                <!-- Nav item -->
                            <li class="nav-item ">
                                <a class="nav-link" href="{{ path('planningListe') }}"><i class="fe fe-credit-card nav-icon"></i>Planning</a>
                            </li>
                                <!-- Nav item -->
                                <li class="nav-item ">
                                    <a class="nav-link" href="{{ path('CoachclientList') }}"><i class="fe fe-credit-card nav-icon"></i>Client Liste</a>
                                </li>
                        
                        </ul>
                                <!-- Navbar header -->
                            <span class="navbar-header">Account Settings</span>
                            <ul class="list-unstyled ml-n2 mb-0">
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('UpdateCoachData',{'id':app.user.id}) }}"><i class="fe fe-settings nav-icon"></i>Edit Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="security.html"><i class="fe fe-user nav-icon"></i>Security</a>
                                </li>
                                
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="delete-profile.html"><i class="fe fe-trash nav-icon"></i>Delete
                                        Profile</a>
                                </li>
                                    <!-- Nav item -->
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('app_logout') }}"><i class="fe fe-power nav-icon"></i>Sign Out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <!-- Card -->
                <div class="card mb-4">
                    <!-- Card header -->
                    <div class="card-header border-bottom-0">
                        <h3 class="mb-0">Activités</h3>
                        
                        {% if data is not empty %}
                        <div class="alert alert-danger"><strong>{{ data }} <a href="#"  data-toggle="modal" data-target="#newCatgory"> ici </a></strong></div>
                        {% else %}
                        <span> Liste des activités au programme</span>
                         {% endif %}
                         <a href="#" class="badge badge-primary"  data-toggle="modal" data-target="#newCatgory">add activity</a>

                        <div class="card-header border-bottom-0">
                            
                                {# {{ form_start(searchForm) }}
                                    {{ form_row(searchForm.search) }}
                                    {{ form_row(searchForm.submit) }}
                                {{ form_end(searchForm) }}

                                <ul>
                                    {% for activity in activities %}
                                        <li>{{ activity.name }}</li>
                                    {% else %}
                                        <li>No activity found</li>
                                    {% endfor %}
                                </ul> #}
                            
                        </div>
   
                        
                    
                    </div>
                    <!-- Table -->
                    <div class="table-responsive border-0">
                        <table class="table mb-0 text-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0">ID</th>
                                    <th scope="col" class="border-0">Name</th>
                                    <th scope="col" class="border-0">description</th>
                                    <th scope="col" class="border-0">edit</th>
                                    <th scope="col" class="border-0">delete</th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                {% for activity in activites %}
                                <tr>
                                    <td class="align-middle border-top-0">
                                        <h5 class="mb-0">
                                            <a href="#!" class="text-inherit"  data-toggle="modal" data-target="#newCatgory">
                                             #{{ activity.id }}
                                            </a>
                                        </h5>
                                    </td>
                                    <td class="align-middle border-top-0">{{ activity.nom }}</td>
                                    <td class="align-middle border-top-0">{{ activity.description }}</td>
                                    <td class="align-middle border-top-0"><a href="{{ path('Update_Activity', {'id' : activity.id  })}}" class="btn btn-white btn-sm">edit</a></td>
                                    <td class="align-middle border-top-0"><a href="#" class="btn btn-white btn-sm"  
                                        data-toggle="modal" data-target="#DeleteACT{{activity.id}}">remove</a></td>
                                    <div class="modal fade" id="DeleteACT{{activity.id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteDISPOLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title mb-0" id="DeleteDISPOLabel">
                                            Delete Activity ? 
                                          </h4>
                                          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                         
                                           
                                            <div class="form-group mb-2">
                                              <label class="form-label" for="title">are you sure do you want to delete Activity? <span class="text-danger">*</span></label>
                                            </div>
                                            <div> 
                                             <a class="btn btn-danger btn-sm" href="{{ path('DeleteActivity', {'id' : activity.id  }) }}">DELETE</a>
                                              <button type="button" class="btn btn-outline-white btn-sm" data-dismiss="modal">
                                                Close
                                              </button>
                                            </div>
                                         
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newCatgory" tabindex="-1" role="dialog" aria-labelledby="newCatgoryLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title mb-0" id="newCatgoryLabel">
        Activity
      </h4>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
    </button>
    </div>
    <div class="modal-body">
      {{ form_start(form , {'attr':{novalidate: 'novalidate'}} ) }}
       
        <div class="form-group mb-2">
          <label class="form-label" for="title">nom<span class="text-danger">*</span></label>
          {%  if data is  empty %} 
          {{ form_widget(form.nom , {'attr' : {'class' : 'form-control', 'placeholder':'nom'}})}}
          <small>Field must contain a unique value</small>
          {% elseif form_errors(form.nom ) %} 
          {{ form_widget(form.nom , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'nom'}})}}
          {% else %}
          {{ form_widget(form.nom , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'nom'}})}}
          {% endif %}
          <small>  {{ form_errors(form.nom )}} </small>
         
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="title">description<span class="text-danger">*</span></label><br>
     
          {%  if data is  empty %} 
          {{ form_widget(form.description , {'attr' : {'class' : 'form-control', 'placeholder':'nom'}})}}
          <small>Field must contain a unique value</small>
          {% elseif form_errors(form.description ) %} 
          {{ form_widget(form.description , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'nom'}})}}
          {% else %}
          {{ form_widget(form.description , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'nom'}})}}
          {% endif %}
          <small>  {{ form_errors(form.description )}} </small>
        </div>
        <div class="form-group mb-2">
          <label class="form-label" for="title">image<span class="text-danger">*</span></label><br>
 
          {%  if data is  empty %} 
          {{ form_widget(form.image , {'attr' : {'class' : 'form-control', 'placeholder':'nom'}})}}
          <small>Field must contain a unique value</small>
          {% elseif form_errors(form.image ) %} 
          {{ form_widget(form.image , {'attr' : {'class' : 'form-control is-invalid' , 'placeholder':'nom'}})}}
          {% else %}
          {{ form_widget(form.image , {'attr' : {'class' : 'form-control is-valid' , 'placeholder':'nom'}})}}
          {% endif %}
          <small>  {{ form_errors(form.image )}} </small>
        </div>
        <div>

          {{ form_widget(form.save , {'attr' : {'class' : 'btn btn-primary' }})}}
       
          <button type="button" class="btn btn-outline-white" data-dismiss="modal">
            Close
          </button>
        </div>
        {{ form_end(form)}}
    </div>
  </div>
</div>
</div>
{% endblock %}