{% extends 'baseadmin.html.twig' %}

<<<<<<< HEAD
{% block title %}Subscribers{% endblock %}
=======
>>>>>>> 72cf2b8d32b479eec33984e6a156ce81b5ee07a1

{% block body %}

<div class="container-fluid p-4">
    <div class="row">
      <!-- Page Header -->
      <div class="col-lg-12 col-md-12 col-12">
        <div class="border-bottom pb-4 mb-4 d-lg-flex align-items-center justify-content-between">
          <div class="mb-2 mb-lg-0">
<<<<<<< HEAD
            <h1 class="mb-1 h2 font-weight-bold">All Coachs</h1>
=======
            <h1 class="mb-1 h2 font-weight-bold">All Coach</h1>
>>>>>>> 72cf2b8d32b479eec33984e6a156ce81b5ee07a1
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="admin-dashboard.html">Dashboard</a>
                </li>
<<<<<<< HEAD
                <li class="breadcrumb-item"><a href="#!">users</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    All Coachs
=======
                <li class="breadcrumb-item"><a href="#!">Users</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    All Coach
>>>>>>> 72cf2b8d32b479eec33984e6a156ce81b5ee07a1
                </li>
              </ol>
            </nav>
          </div>
          <div>
<<<<<<< HEAD
            <a href="#!" class="btn btn-primary">New Coach</a>
=======
            <a href="admin-cms-post-new.html" class="btn btn-primary" data-toggle="modal" data-target="#newCoach">New Coach</a>
>>>>>>> 72cf2b8d32b479eec33984e6a156ce81b5ee07a1
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <!-- Card -->
        <div class="card rounded-lg">
          <!-- Card Header -->
          <div class="card-header border-bottom-0 p-0">
            <ul class="nav nav-lb-tab" id="tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="all-post-tab" data-toggle="pill" href="#all-post" role="tab"
                  aria-controls="all-post" aria-selected="true">All</a>
              </li>
           
            </ul>
          </div>
          <div class="p-4 row">
            <!-- Form -->
            <form class="d-flex align-items-center col-12 col-md-8 col-lg-3">
               <span class="position-absolute pl-3 search-icon">
                <i class="fe fe-search"></i>
              </span>
              <input type="search" class="form-control pl-6" placeholder="Search Coach" />
            </form>
          </div>
          <div>
            <div class="tab-content" id="tabContent">
              <!-- Tab -->
              <div class="tab-pane fade show active" id="all-post" role="tabpanel" aria-labelledby="all-post-tab">
                <div class="table-responsive border-0">
                  <!-- Table -->
                  <table class="table mb-0 text-nowrap">
                    <!-- Table Head -->
                    <thead>
                      <tr>
                        <th scope="col" class="border-0">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkAll" />
                            <label class="custom-control-label" for="checkAll"></label>
                          </div>
                        </th>
                        <th scope="col" class="border-0">ID</th>
<<<<<<< HEAD
                        <th scope="col" class="border-0">Name</th>
                        <th scope="col" class="border-0">Prename</th>
                        <th scope="col" class="border-0">Email</th>
                        <th scope="col" class="border-0">Joined at</th>
                       
=======
                        <th scope="col" class="border-0">Cin </th>
                        <th scope="col" class="border-0">Full name</th>
                        
                        <th scope="col" class="border-0">Email</th>
                        <th scope="col" class="border-0">Adresse </th>
                        <th scope="col" class="border-0">Age </th>
>>>>>>> 72cf2b8d32b479eec33984e6a156ce81b5ee07a1
                        <th scope="col" class="border-0">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Table body -->
<<<<<<< HEAD
=======
                      {%  for u in  User_coach %}
>>>>>>> 72cf2b8d32b479eec33984e6a156ce81b5ee07a1
                      <tr>
                        <td class="align-middle border-top-0">
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="postOne" />
                            <label class="custom-control-label" for="postOne"></label>
                          </div>
                        </td>
                        <td class="align-middle border-top-0">
                          <h5 class="mb-0">
                            <a href="#!" class="text-inherit">
<<<<<<< HEAD
                             #12
=======
                           {{ u.id }}
>>>>>>> 72cf2b8d32b479eec33984e6a156ce81b5ee07a1
                            </a>
                          </h5>
                        </td>
                        <td class="align-middle border-top-0">
<<<<<<< HEAD
                         Yesine
                        </td>
                        <td class="align-middle border-top-0">
                         ben  salah
                        </td>
                        <td class="align-middle border-top-0">
                         yacin@gmail.com
                        </td>
                        <td class="align-middle border-top-0">
                            7 July, 2021 1:42pm
                          </td>
                       
                    
                        <td class="text-muted align-middle border-top-0">
                          <a class="btn btn-white" href="#!"><i
                            class="fe fe-edit dropdown-item-icon"></i></a>
                        
                        </td>
                      </tr>
                    
=======
                          
                            <h5 class="mb-0">{{ u.CIN }}</h5>
                         
                        </td>
                       
                        <td class="align-middle border-top-0">
                        <div class="d-flex align-items-center">
                            <img src="/uploads/{{ u.image }}"  alt=""
                              class="rounded-circle avatar-xs mr-2" />
                         {{ u.Name }}
                          </div>
                        </td>
                        <td class="align-middle border-top-0">
                           {{ u.Email }}
                          </td>
                       
                        <td class="align-middle border-top-0">
                         {{ u.Adresse }}
                        </td>
                         <td class="align-middle border-top-0">
                         {{ u.Age }}
                        </td>
                        <td class="text-muted align-middle border-top-0">
                          <a class="btn btn-white" data-toggle="modal" data-target="#DeleteCoach"><i
                            class="fe fe-edit dropdown-item-icon"></i></a>
                        
                        </td>
                        <div class="modal fade" id="DeleteCoach" tabindex="-1" role="dialog" aria-labelledby="DeleteCoachLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h4 class="modal-title mb-0" id="DeleteCoachLabel">
                                            Delete Coach Slote ? 
                                          </h4>
                                          <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                <div class="form-group mb-2">
                                              <label class="form-label" for="title">are you sure do you want to delete Coach Slot? <span class="text-danger">*</span></label>


                                            </div>


                                            <div>


                                             <a class="btn btn-danger btn-sm" href="{{ path('deleteCoach', {'id' : u.id  }) }}">DELETE</a>
                                              <button type="button" class="btn btn-outline-white btn-sm" data-dismiss="modal">
                                                Close
                                              </button>
                                            </div>

                                        </div>
                                      </div>
                                    </div>
                                    </div>
                      </tr>
                    {% endfor %}
>>>>>>> 72cf2b8d32b479eec33984e6a156ce81b5ee07a1
                    </tbody>
                  </table>
                </div>
              </div>
              
            </div>
          </div>
          <!-- Card Footer -->
          <div class="card-footer">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center mb-0">
                <li class="page-item disabled">
                  <a class="page-link mx-1 rounded" href="#!" tabindex="-1" aria-disabled="true"><i
                      class="mdi mdi-chevron-left"></i></a>
                </li>
                <li class="page-item active">
                  <a class="page-link mx-1 rounded" href="#!">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link mx-1 rounded" href="#!">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link mx-1 rounded" href="#!">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link mx-1 rounded" href="#!"><i class="mdi mdi-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
<<<<<<< HEAD

{% endblock %}
=======
 <div class="modal fade" id="newCoach" tabindex="-1" role="dialog" aria-labelledby="newCoachLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title mb-0" id="newCoachLabel">
          Add New Sub for Si 
        </h4>
        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fe fe-x-circle"></i></span>
      </button>
      </div>
      <div class="modal-body">
        {{ form_start(form , {'attr':{novalidate: 'novalidate'}} ) }}
          <div class="form-group mb-2">
            <label class="form-label" for="title">Cin<span class="text-danger">*</span></label>
             {{ form_widget(form.CIN , {'attr' : {'class' : 'form-control' , 'placeholder':'CIN'}})}}
            <small>Field must contain a unique value</small>
          </div>
          <div class="form-group mb-2">
            <label class="form-label" for="title">Name <span class="text-danger">*</span></label>
            {{ form_widget(form.Name , {'attr' : {'class' : 'form-control' , 'placeholder':'Name'}})}}
            <small>Field must contain a unique value</small>
          </div>
          <div class="form-group mb-2">
            <label class="form-label" for="title">Adresse<span class="text-danger">*</span></label><br>
            {{ form_widget(form.Adresse , {'attr' : {'class' : 'form-control' , 'placeholder':'Adresse'}})}}

          </div>
          <div class="form-group mb-2">
            <label class="form-label" for="title">Age<span class="text-danger">*</span></label><br>
            {{ form_widget(form.Age , {'attr' : {'class' : 'form-control' , 'placeholder':'Age'}})}}

          </div>
          <div class="form-group mb-2">
            <label class="form-label" for="title">NumeroTel<span class="text-danger">*</span></label><br>
            {{ form_widget(form.Numero , {'attr' : {'class' : 'form-control' , 'placeholder':'NumeroTel'}})}}

          </div>
           <div class="form-group mb-2">
            <label class="form-label" for="title">Email<span class="text-danger">*</span></label><br>
            {{ form_widget(form.Email , {'attr' : {'class' : 'form-control' , 'placeholder':'Email'}})}}

          </div>
           <div class="form-group mb-2">
            <label class="form-label" for="title">Password<span class="text-danger">*</span></label><br>
            {{ form_widget(form.Password , {'attr' : {'class' : 'form-control' , 'placeholder':'Password'}})}}

          </div>
          <div class="form-group mb-2">
            <label class="form-label" for="title">Confirm Password<span class="text-danger">*</span></label><br>
            {{ form_widget(form.confirm_password , {'attr' : {'class' : 'form-control' , 'placeholder':'Password'}})}}

          </div>
          <div class="mb-2">
            <label class="form-label">Confirmed</label>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
              <label class="custom-control-label" for="customSwitch1"></label>
            </div>
          </div>
          <div>

            {{ form_widget(form.save , {'attr' : {'class' : 'btn btn-primary' }})}}
         
            <button type="button" class="btn btn-outline-white" data-dismiss="modal">
              Close
            </button>
          </div>
          {{ form_end(form)}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
>>>>>>> 72cf2b8d32b479eec33984e6a156ce81b5ee07a1
