{% extends 'baseadmin.html.twig' %}

{% block title %}Hello AuthentificationController!{% endblock %}

{% block body %}
<div class="container-fluid p-4">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12">
        <div class="border-bottom pb-4 mb-4 d-lg-flex justify-content-between align-items-center">
          <div>
            <h1 class="mb-0 h2 font-weight-bold">Dashboard</h1>
          </div>
         
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-6 col-md-12 col-12">
        <!-- Card -->
        <div class="card mb-4">
          <!-- Card body -->
       
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
              <div>
                <a class="font-size-xs text-uppercase font-weight-semi-bold"  href="{{ path('listeClient') }}">Client</a>
              </div>
              <div>
                <span class="fe fe-shopping-bag font-size-lg text-primary"></span>
              </div>
            </div>
            <h2 class="font-weight-bold mb-1">
              {{Count_client}}
            </h2>
          
            <span class="ml-1 font-weight-medium">Number of client</span>
          </div>
        </div>
      
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-12">
        <!-- Card -->
        <div class="card mb-4">
          <!-- Card body -->
          
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
              <div>
             
                <a class="font-size-xs text-uppercase font-weight-semi-bold" href="{{ path('all_sub') }}">Subscribers
              </a>
              </div>
              <div>
                <span class=" fe fe-book-open font-size-lg text-primary"></span>
              </div>
            </div>
            <h2 class="font-weight-bold mb-1">
              {{countSubscriptions}}
            </h2>
            <span class="text-danger font-weight-semi-bold">{{countSubscribers}}</span>
            <span class="ml-1 font-weight-medium">in this Month</span>
          </div>
        </div>
        
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-12">
        <!-- Card -->
        <div class="card mb-4">
          <!-- Card body -->
          
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
              <div>
                <a class="font-size-xs text-uppercase font-weight-semi-bold" href="{{ path('listeDoctor') }}">Doctor</a>
              </div>
              <div>
                <span class=" fe fe-users font-size-lg text-primary"></span>
              </div>
            </div>
            <h2 class="font-weight-bold mb-1">
              {{Count_medcin}}
            </h2>
      
              <span class="ml-1 font-weight-medium">Number of Doctors</span>
          </div>
        </div>
      
      </div>
      <div class="col-xl-3 col-lg-6 col-md-12 col-12">
        <!-- Card -->
        <div class="card mb-4">
          <!-- Card body -->
     
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3 lh-1">
              <div>
                <a class="font-size-xs text-uppercase font-weight-semi-bold" href="{{ path('listecoachs') }}">Coach</a>
              </div>
              <div>
                <span class=" fe fe-user-check font-size-lg text-primary"></span>
              </div>
            </div>
            <h2 class="font-weight-bold mb-1">
            {{Count_coach}}
            </h2>
        
                <span class="ml-1 font-weight-medium">Number of Coachs</span>
          </div>
        </div>
      </div>
     
    </div>
   
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-4">
        <!-- Card -->
        <div class="card h-100"> 
          <!-- Card header -->
          <div class="card-header d-flex align-items-center
                        justify-content-between card-header-height">
            <h4 class="mb-0">Five Client</h4>
            <a href="{{ path('listeClient') }}" class="btn btn-outline-white btn-sm">View all</a>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- List group -->
            
            <ul class="list-group list-group-flush">
                   {% for clients in client %}
              <li class="list-group-item px-3 pt-4 ">
                <div class="row">
         
                  <div class="col-auto">
                    <div class="avatar avatar-md ">

                      {% if clients.image %}
                     <img src="/uploads/{{ clients.image }}"  alt="" class="rounded-circle avatar-xs mr-2" />
                     {% else %}
                     <img src={{asset('assets/images/avatar/avatar-1.jpg')}}  alt="" class="rounded-circle avatar-xs mr-2" />
                     {% endif %}
                    </div>
                  </div> 
                  <div class="col ml-n3">
                      <a href="{{ path('clientDetails',{'id':clients.id}) }}" > <h4 class="mb-0 h5">{{ clients.name }}</h4></a>
                    <span class="mr-2 font-size-xs">
                     {{ clients.Email }}</span>
                 
                  </div>

                  <div class="col-auto">
                    <span class="dropdown dropleft">
                      <a class="text-muted text-decoration-none" href="#!" role="button" id="courseDropdown7"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fe fe-more-vertical"></i>
                      </a>
                      <span class="dropdown-menu" aria-labelledby="courseDropdown7">
                        <span class="dropdown-header">Settings</span>
                        <a class="dropdown-item" href="{{ path('UpdateClientDashboard',{'id':clients.id}) }}"><i class="fe fe-edit dropdown-item-icon "></i>Edit</a>
                     
                      </span>
                    </span>
                  </div>
                </div>

              </li>
                  {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-12 col-12 mb-4">
        <!-- Card -->
        <div class="card h-100">
          <!-- Card header -->
          <div class="card-header d-flex align-items-center
                        justify-content-between card-header-height">
            <h4 class="mb-0">Subscriptions
            </h4>
            <a href="{{ path('all_sub') }}" class="btn btn-outline-white btn-sm">View all</a>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- List group -->
            <ul class="list-group list-group-flush list-timeline-activity">
              {% for subs in sub %}
              <li class="list-group-item px-0 pt-0 border-0 mb-2">
                <div class="row">
                  <div class="col-auto">
                    <div class="avatar avatar-md ">
                       <img src="/uploads/{{ subs.user.image }}"  alt="" class="rounded-circle avatar-xs mr-2" />
                    </div>
                  </div>
                  <div class="col ml-n3">
                    <a  href="{{ path('clientDetails' , {'id' : subs.getUser().getId()  }) }}"  class="text-inherit">
                    <h4 class="mb-0 h5">  {{ subs.user.email }}</h4>
                   {% if subs.reference %}
                      <p class="mb-1">Sub Reference : {{subs.reference}}</p>
                    {% else %}
                    <p class="mb-1">Sub ID : {{subs.id}}</p>
                    {% endif %}
                    </a>
                    <span class="font-size-xs"> {{ subs.state }}</span>
                  </div>
                </div>
              </li>
              {% endfor %}
            
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12 col-md-12 col-12 mb-4">
        <!-- Card -->
        <div class="card h-100">
          <!-- Card header -->
          <div class="card-header d-flex align-items-center
                        justify-content-between card-header-height">
            <h4 class="mb-0">Order
            </h4>
            <a href="{{ path('listeOrderDashboard') }}" class="btn btn-outline-white btn-sm">View all</a>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- List group -->
            <ul class="list-group list-group-flush list-timeline-activity">
              {% for ords in ord %}
              <li class="list-group-item px-0 pt-0 border-0 mb-2">
                <div class="row">
                  <div class="col-auto">
                    <div class="avatar avatar-md ">
                       <img src="/uploads/{{ ords.client.image }}"  alt="" class="rounded-circle avatar-xs mr-2" />
                    </div>
                  </div>
                  <div class="col ml-n3">
                    <h4 class="mb-0 h5">{{ords.client.name}}</h4>
                    <a href="{{ path('OrderByIDDashboard' , {'id' : ords.id  } ) }}" class="text-inherit"><p class="mb-1">{{ords.reference}}</p></a>
                    <span class="font-size-xs">{{ords.state}}</span>
                  </div>
                </div>
              </li>
              {% endfor %}
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
