{% extends 'mainbase.html.twig' %}


{% block body %}
  <!-- Page header-->
  <div class="py-4 py-lg-6 bg-primary">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
          <div class="d-lg-flex align-items-center justify-content-between">
            <!-- Content -->
            <div class="mb-4 mb-lg-0">
              <h1 class="text-white mb-1">Add New Rendez vous</h1>
              {% if data is not empty %}
              <div class="alert alert-danger"><strong>{{ data }}</strong></div>
              {% else %}
              <p class="mb-0 text-white lead">
                Just fill the form and create your  Rendez vous.
              </p>
               {% endif %}
            
            </div>
            <div>
              <a href="{{ path('showDoctor') }}" class="btn btn-white ">Back to Doctors Liste</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Content -->
  <div class="pb-12">
    <div class="container">
      <div id="courseForm" class="bs-stepper">
        <div class="row">
          <div class="offset-lg-1 col-lg-10 col-md-12 col-12">
            <!-- Stepper Button -->
            <div class="bs-stepper-header shadow-sm" role="tablist">
              <div class="step" data-target="#test-l-1">
                <button type="button" class="step-trigger" role="tab" id="courseFormtrigger1" aria-controls="test-l-1">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label">Basic Information</span>
                </button>
              </div>
              <div class="bs-stepper-line"></div>
              <div class="step" data-target="#test-l-2">
                <button type="button" class="step-trigger" role="tab" id="courseFormtrigger2" aria-controls="test-l-2">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label">Rendez Vous Timeing</span>
                </button>
              </div>
              <div class="bs-stepper-line"></div>
              <div class="step" data-target="#test-l-3">
                <button type="button" class="step-trigger" role="tab" id="courseFormtrigger3" aria-controls="test-l-3">
                  <span class="bs-stepper-circle">3</span>
                  <span class="bs-stepper-label">Note</span>
                </button>
              </div>
             
            </div>
            <!-- Stepper content -->
            <div class="bs-stepper-content mt-5">
             {{ form_start(form , {'attr':{ novalidate: 'novalidate'}} ) }}
                <!-- Content one -->
                <div id="test-l-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="courseFormtrigger1">
                  <!-- Card -->
                  <div class="card mb-3 ">
                    <div class="card-header border-bottom px-4 py-3">
                      <h4 class="mb-0">Basic Information</h4>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="form-group">
                        <label for="courseTitle" class="form-label">Doctor name</label>
                        <input id="courseTitle" class="form-control" type="text" placeholder="Course Title" value={{ doctor.name}} disabled />
                     
                      </div>
                      <div class="form-group">
                        <label for="courseTitle" class="form-label">Doctor email</label>
                        <input id="courseTitle" class="form-control" type="text" placeholder="Course Title"  value={{ doctor.email}} disabled />
                     
                      </div>
                      <div class="form-group">
                        <label for="courseTitle" class="form-label">Doctor phone</label>
                        <input id="courseTitle" class="form-control" type="text" placeholder="Course Title"  value={{ doctor.Numero}} disabled />
                     
                      </div>
                
                    </div>
                  </div>
                  <!-- Button -->
                  <a class="btn btn-primary" onclick="courseForm.next()">
                    Next
                  </a>
                </div>
                <!-- Content two -->
                <div id="test-l-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="courseFormtrigger2">
                  <!-- Card -->
                  <div class="card mb-3  border-0">
                    <div class="card-header border-bottom px-4 py-3">
                      <h4 class="mb-0">Doctor Disponibility</h4>
                    </div>
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="form-group">
                            <label for="courseTitle" class="form-label">Disponibility</label>
                           <!-- basic table -->
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="border-0">ID</th>
                                        <th scope="col" class="border-0">Date Disponibility</th>
                                        <th scope="col" class="border-0">Start From</th>
                                        <th scope="col" class="border-0">End From</th>
                                        <th scope="col" class="border-0">Check</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      {% for dispo in doctor.getDisponibilities() %}
                                      <tr>
                                        <td class="align-middle border-top-0">
                                            <h5 class="mb-0">
                                                <a href="#!" class="text-inherit" >
                                                 # {{ dispo.id }}
                                                </a>
                                            </h5>
                                        </td>
                                        <td class="align-middle border-top-0">{{ dispo.dateDispo |date('d-m-Y') }} 
                                          {% if dispo.getState == "full" %}
                                          <span class="badge badge-danger"> full </span>
                                          {% endif %}
                                        </td>
                                        <td class="align-middle border-top-0">{{ dispo.heureStart|date('H:i') }}</td>
                                        <td class="align-middle border-top-0">{{ dispo.heureEnd  |date('H:i') }}</td>
                                        <td class="align-middle border-top-0">
                                          {% if dispo.getState == "full" %}
                                          <input type="radio" name="radio" disabled value={{dispo.dateDispo |date('d-m-Y')}}> 
                                          {% else %}
                                          <input type="radio" name="radio" value={{dispo.dateDispo |date('d-m-Y')}}> 
                                          {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <!-- basic table -->
                         
                          </div>
                    </div>
                  </div>
                  <!-- Button -->
                  <div class="d-flex justify-content-between">
                    <a class="btn btn-secondary" onclick="courseForm.previous()">
                      Previous
                    </a>
                    <a class="btn btn-primary" onclick="courseForm.next()">
                      Next
                    </a>
                  </div>
                </div>
                <!-- Content three -->
                <div id="test-l-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="courseFormtrigger3">
                  <!-- Card -->
                  <div class="card mb-3  border-0">
                    <div class="card-header border-bottom px-4 py-3">
                      <h4 class="mb-0">Note</h4>
                    </div>
                    <!-- Card body -->
                    <div class="card-body ">
                        <div class="form-group">
                            <label for="courseTitle" class="form-label">Note</label>
                            {{ form_widget(form.note , {'attr' : {'class' : 'form-control' , 'placeholder':'Note'}})}}
                         
                          </div>
                    
                    </div>
                  </div>
                  <!-- Button -->
                  <div class="d-flex justify-content-between">
                    <a class="btn btn-secondary" onclick="courseForm.previous()">
                      Previous
                    </a>
                  
                  {{ form_widget(form.save , {'attr' : {'class' : 'btn btn-primary' }})}}
                  </div>
                </div>
             
           
               {{ form_end(form)}} 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}